<div class="edit-contact-component" [@fog]="opened.toString()" *ngIf="opened"></div>

<div class="auth-form" [@popup]="opened.toString()" *ngIf="opened">

    <div class="form-header">
        <div class="icon-and-name">
            <div class="form-icon"
                 [ngClass]="{ 'photo': contact.photo !== '' }"
                 [ngStyle]="{'background': contact.photo !== '' ? 'url(http://127.0.0.1:4444' + contact.photo : 'url(http://127.0.0.1:4444/assets/images/users/no_photo.png)'}">
            </div>
            <div class="form-title width-40">
                <div>
                    {{ contact._backupData.name }}<br>
                    {{ contact._backupData.fname }}<br>
                    {{ contact._backupData.surname }}
                </div>
            </div>
        </div>
        <div class="close-button" title="Закрыть" (click)="close(true)">
            <span class="close">&times;</span>
        </div>
    </div>
    <form novalidate #editContactForm="ngForm">
        <div class="combined-input margin-bottom-10">
            <i class="fa fa-user"></i>
            <input type="text" name="surname" id="contact-surname" placeholder="Введите фамилию" required [(ngModel)]="contact.surname">
        </div>
        <div class="row width-100 margin-bottom-10">
            <div class="width-50 padding-right-5">
                <div class="combined-input">
                    <i class="fa fa-user"></i>
                    <input type="text" name="name" id="contact-name" placeholder="Введите имя" required [(ngModel)]="contact.name">
                </div>
            </div>
            <div class="width-50 padding-left-5">
                <div class="combined-input">
                    <i class="fa fa-user"></i>
                    <input type="text" name="fname" id="contact-fname" placeholder="Введите отчество" required [(ngModel)]="contact.fname">
                </div>
            </div>
        </div>
        <div class="combined-input margin-bottom-10">
            <i class="fa fa-user"></i>
            <input type="text" name="position" id="contact-position" placeholder="Введите должность" required [(ngModel)]="contact.position">
        </div>
        <div class="row width-100 margin-bottom-20">
            <div class="width-50 padding-right-5">
                <div class="combined-input">
                    <i class="fa fa-at"></i>
                    <input type="text" name="email" id="contact-email" placeholder="Введите e-mail" [(ngModel)]="contact.email">
                </div>
            </div>
            <div class="width-50 padding-left-5">
                <div class="combined-input">
                    <i class="fa fa-mobile-phone"></i>
                    <input type="text" name="mobile" id="contact-mobile" placeholder="Введите мобильный тел." [(ngModel)]="contact.mobile">
                </div>
            </div>
        </div>

        <div class="separator margin-bottom-20"></div>


        <!-- Список телефонов абонента с привязкой к АТС -->
        <form *ngFor="let phone of contact.phones; trackBy:trackByFn;" novalidate #phoneForm="ngForm">
            <div class="combined-input margin-bottom-10">
                <i class="fa fa-phone"></i>
                <select name="ats" class="ats" [(ngModel)]="phone.atsId">
                    <optgroup label="Внутренние АТС">
                        <option *ngFor="let innerAts of phoneBook.innerAtsList"
                                [ngValue]="innerAts.id"
                                [disabled]="!innerAts.isSelectable">{{ '&#160;'.repeat(innerAts.level * 4) + innerAts.title }}
                        </option>
                    </optgroup>
                    <optgroup label="Внешние АТС">
                        <option *ngFor="let outerAts of phoneBook.outerAtsList"
                                [ngValue]="outerAts.id"
                                [disabled]="!outerAts.isSelectable">{{ '&#160;'.repeat(outerAts.level * 4) + outerAts.title }}
                        </option>
                    </optgroup>
                </select>
                <input type="text" name="phone" class="phone-number" placeholder="Введите номер" [(ngModel)]="phone.number" required>
                <i class="fa fa-save clickable" *ngIf="phoneForm.dirty && phoneForm.valid" title="Сохранить телефон" (click)="editPhone(phone, phoneForm)"></i>
                <i class="fa fa-times clickable" title="Удалить телефон" (click)="deletePhone(phone)"></i>
            </div>
        </form>


        <!-- Заглушка при отсутствии телефонных номеров -->
        <div class="no-phones margin-bottom-20" *ngIf="!isInAddPhoneMode && contact.phones.length === 0">
            Абоненту не назначен ни один телефонный номер.<br>
            <a (click)="addPhoneMode(true)">Добавить номер</a>
        </div>

        <!-- Кнопка добавления нового номера -->
        <div class="no-phones margin-bottom-20" *ngIf="!isInAddPhoneMode && contact.phones.length > 0">
            <a (click)="addPhoneMode(true)">Добавить номер</a>
        </div>

        <!-- Форма добавления нового номера -->
        <form *ngIf="isInAddPhoneMode" novalidate #newPhoneForm="ngForm">
            <div class="combined-input margin-bottom-20">
                <i class="fa fa-phone"></i>
                <select name="ats" class="ats" [(ngModel)]="newPhone.atsId" #atsModel="ngModel">
                    <option [ngValue]="0" disabled>Выберите АТС</option>
                    <optgroup label="Внутренние АТС">
                        <option *ngFor="let innerAts of phoneBook.innerAtsList"
                                [ngValue]="innerAts.id"
                                [disabled]="!innerAts.isSelectable">{{ '&#160;'.repeat(innerAts.level * 4) + innerAts.title }}
                        </option>
                    </optgroup>
                    <optgroup label="Внешние АТС">
                        <option *ngFor="let outerAts of phoneBook.outerAtsList"
                                [ngValue]="outerAts.id"
                                [disabled]="!outerAts.isSelectable">{{ '&#160;'.repeat(outerAts.level * 4) + outerAts.title }}
                        </option>
                    </optgroup>
                </select>
                <input type="text" name="phone" class="phone-number" placeholder="Введите номер" [(ngModel)]="newPhone.number" required>
                <i class="fa fa-plus clickable" *ngIf="newPhoneForm.valid && atsModel.model !== 0" (click)="addPhone(atsModel)" title="Добавить номер телефона"></i>
            </div>
        </form>

        <button type="submit"
                class="btn green"
                [disabled]="!editContactForm.dirty || editContactForm.invalid"
                (click)="edit()">
            Сохранить изменения
        </button>
    </form>
</div>
