.edit-contact-component {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}
.auth-form {
  z-index: 101;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  transform: scale(0.1);
}
.auth-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auth-form .form-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.auth-form .form-header .icon-and-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
}
.auth-form .form-header .icon-and-name .form-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  background-position: center center !important;
  background-size: cover !important;
}
.auth-form .form-header .icon-and-name .form-icon.photo {
  background-position: center top !important;
  background-size: cover !important;
}
.auth-form .form-header .icon-and-name .form-icon .fa {
  font-size: 70px;
  color: white;
}
.auth-form .form-header .icon-and-name .form-title {
  font-family: "Open Sans Regular";
  font-size: 18px;
  color: #4DB6AC;
  text-transform: uppercase;
  text-align: left;
}
.auth-form .form-header .close-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
  width: 40px;
}
.auth-form .form-header .close-button .close {
  margin-top: -60px;
  font-size: 40px;
  color: lightgray;
  cursor: pointer;
}
.auth-form .form-header .close-button .close:hover {
  color: gray;
}
.auth-form .separator {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECEFF1;
}
.auth-form .no-phones {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  line-height: 17px;
  color: gray;
  text-align: center;
}
.auth-form .no-phones a {
  color: #03A9F4;
  text-decoration: underline;
  cursor: pointer;
}
.auth-form .no-phones a:hover {
  color: #01579B;
}
.auth-form .ats {
  width: 55%;
}
.auth-form .phone-number {
  flex-grow: 1;
  width: 20%;
}
