<stub *ngIf="session.user() && session.user().favorites.contacts.length === 0" [icon]="'fa-star'" [text]="'У Вас нет избранных контактов'"></stub>
<stub *ngIf="!session.user()" [icon]="'fa-sign-in'" [text]="'Избранные контакты доступны только авторизованным пользователям'"></stub>

<div id="app-favorites" >
    <div id="app-favorites-caption">
        <i class="fa fa-star"></i>
        Ваши избранные контакты
    </div>
    <contact-group [group]="session.user().favorites" [margin]="margin" [row]="row"></contact-group>
</div>