<!-- Шапка приложения -->
<div id="app-header">

    <!-- Заголовок приложения -->
    <div id="title">
        <div class="logo"><i class="fa fa-phone"></i></div>
        <span class="label">Телефонный справочник</span>
    </div>

    <!-- Панель поиска абонентов -->
    <div id="search">
        <!--<div id="search-left"></div>-->
        <div id="search-center">
            <div class="width-100 padding-left-20 padding-right-20 combined-input">
                <i class="fa fa-search"></i>
                <input type="text" name="" id="" placeholder="Введите имя абонента, телефон или e-mail" [(ngModel)]="phoneBook.searchQuery" (keyup)="searchContacts(phoneBook.searchQuery)">
                <i class="fa fa-times clickable" *ngIf="phoneBook.searchQuery.length > 0" (click)="phoneBook.clearSearch()" title="Очистить поиск"></i>
                <i class="fa fa-gear clickable" *ngIf="phoneBook.contacts.length > 0" (click)="openAtsPanel()" title="Выбрать откуда осуществляется звонок"></i>
            </div>
        </div>
        <div id="search-right">

            <!-- Руководство пользователя -->
            <button type="button"
                    id="help-button"
                    class="btn round small margin-right-10"
                    title="Помощь"
                    routerLink="/help"
                    routerLinkActive="active">
                <i class="fa fa-info"></i>
                <span class="corner"></span>
            </button>

            <!-- Избранные контакты -->
            <button type="button"
                    class="btn small round favorites badged"
                    *ngIf="session.user && phoneBook.favorites.contacts.length > 0"
                    routerLink="/favorites"
                    routerLinkActive="active"
                    title="Избранные контакты">
                <span class="badge">{{ phoneBook.favorites.contacts.length }}</span>
                <i class="fa fa-star"></i>
                <span class="corner"></span>
            </button>

            <!-- Авторизация пользователя -->
            <button type="button" class="btn small round" (click)="openAuthModal()" title="Войти" *ngIf="session.user === null" title="Авторизация">
                <i class="fa fa-sign-in"></i>
            </button>

            <!-- Меню пользователя -->
            <div class="user-logged"
                 routerLink="/account"
                 routerLinkActive="active"
                 *ngIf="session.user !== null"
                 [ngStyle]="{'background': session.user.photo !== null ? 'url(http://10.50.4.7:4444' + session.user.photo + ')' : ''}" title="Меню пользователя">
                <span class="initials" *ngIf="session.user.photo === null">{{ session.user.name[0] + session.user.surname[0] }}</span>
                <span class="corner"></span>
            </div>
        </div>
    </div>


</div>

<!-- Панель выбора организации, дерево структурных подразделений -->
<div id="app-divisions">

    <div id="app-divisions-header">
        <company-selector [divisions]="phoneBook.organizations"></company-selector>
    </div>

    <div id="app-divisions-content" [ngClass]="{'with-controls': session.user && session.user.isAdministrator}">
        <division-tree [id]="'phone-book-divisions'" [divisions]="phoneBook.divisions" (onSelect)="selectDivision($event)"></division-tree>
    </div>
    <div id="app-division-controls" *ngIf="session.user && session.user.isAdministrator">
        <button type="button"
                class="btn green small round margin-right-10"
                title="Добавить структурное подразделение"
                [disabled]="phoneBook.loading"
                (click)="openNewDivisionModal()">
            <i class="fa fa-plus"></i>
        </button>

        <button type="button"
                class="btn blue small round margin-right-10"
                [disabled]="!phoneBook.selectedDivision || phoneBook.loading"
                title="Редактировать структурное подразделение"
                (click)="openEditDivisionModal()">
            <i class="fa fa-pencil"></i>
        </button>

        <button type="button"
                class="btn red small round"
                [disabled]="!phoneBook.selectedDivision || phoneBook.loading"
                title="Удалить структурное подразделение"
                (click)="openDeleteDivisionModal()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>


<!-- Область отображения контента приложения -->
<div id="app-content-wrapper" [ngClass]="{ 'with-ats': isAtsPanelOpened }">

    <!-- Панель выбора АТС -->
    <div id="app-ats" [ngClass]="{ 'opened': isAtsPanelOpened }">
        <div class="ats">
            <span class="title">Вы звоните из</span>
            <select name="ats" id="ats" [(ngModel)]="phoneBook.selectedAts.id" (change)="selectAts()">
                <option value="{{ 17 }}">Аппарат управления</option>
                <option value="{{ 18 }}">Северные электрические сети</option>
                <option value="{{ 19 }}">Центральные электрические сети</option>
            </select>
        </div>
        <div class="close-button" title="Закрыть" (click)="closeAtsPanel()">&times;</div>
    </div>


    <!-- Содержимое активного раздела приложения -->
    <div id="app-content">
        <router-outlet></router-outlet>
    </div>

</div>



<!-- Кнопка добавления нового абонента -->
<div id="new-contact-button"
    *ngIf="(session.user && session.user.isAdministrator) && (!phoneBook.isInFavoritesMode && !phoneBook.isInUserAccountMode && phoneBook.selectedDivision)"
     (click)="openNewContactModal()"
     title="Добавить нового абонента">
    <i class="fa fa-plus"></i>
</div>


<auth [isOpened]="inAuthMode" (onClose)="closeAuthModal()"></auth>
<user-menu [isOpened]="inUserMenuMode" (onClose)="closeUserMenuModal()"></user-menu>
<edit-contact [isOpened]="phoneBook.selectedContact === 'test'" (onClose)="closeEditContactModal()" [contact]="phoneBook.selectedContact"></edit-contact>


<!-- Модальное окно авторизации пользователя -->
<modal [id]="'authorization-modal'" [title]="'Авторизация'" [width]="400" [contentHeight]="!authorization.userNotFound ? 220 : 281" (onClose)="closeAuthModal()">
    <div class="modal-content">
        <form novalidate class="padding-20">
            <!-- Учетная запись пользователя -->
            <div class="margin-bottom-10">
                <label for="user-account" class="width-100">Учетная запись</label>
                <input type="text"
                       name="account"
                       id="user-account"
                       class="width-100"
                       placeholder="Введите учетную запись"
                       [(ngModel)]="authorization.login">
            </div>
            <!-- Пароль -->
            <div class="margin-bottom-20">
                <label for="user-password" class="width-100">Пароль</label>
                <input type="password"
                       name="password"
                       id="user-password"
                       class="width-100"
                       placeholder="Введите пароль"
                       [(ngModel)]="authorization.password">
            </div>
            <div class="width-100 margin-bottom-20">
                <div class="width-50 padding-right-5">
                    <button type="submit"
                            class="btn blue width-100"
                            [disabled]="authorization.account === '' || authorization.password === '' || session.loading"
                            (click)="login()">
                        <i class="fa fa-spinner fa-spin margin-right-15" *ngIf="session.loading"></i>
                        Войти
                    </button>
                </div>
                <div class="width-50 padding-left-5">
                    <button type="button"
                            class="btn red width-100"
                            (click)="modals.close()">
                        Отмена
                    </button>
                </div>
            </div>
        </form>
        <div class="form-error-bottom width-100 padding-20"
             *ngIf="authorization.userNotFound">
            <i class="fa fa-exclamation-circle margin-right-10"></i>
            Пользователь не найден
        </div>
    </div>
</modal>


<!-- Модальное окно добавления нового структурного подразделения -->
<modal [id]="'new-division-modal'"
       [title]="'Новое структурное подразделение'"
       [width]="400"
       (onClose)="closeNewDivisionModal(newDivisionForm)">
    <div class="modal-content">
        <form novalidate class="padding-20" #newDivisionForm="ngForm">
            <div class="margin-bottom-10" *ngIf="phoneBook.selectedDivision">
                <label for="new-division-parent">Структурное подразделение верхнего уровня</label>
                <input type="text"
                       name="parent"
                       id="new-division-parent"
                       class="width-100 margin-top-5"
                       placeholder="Структурное подразделение верхнего уровня"
                       [value]="phoneBook.selectedDivision.title"
                       disabled>
            </div>
            <div class="margin-bottom-20">
                <label for="new-division-title">Наименование структурного подразделения</label>
                <input type="text"
                       name="title"
                       id="new-division-title"
                       class="width-100 margin-top-5"
                       placeholder="Введите наименование"
                       [(ngModel)]="newDivision.title"
                       required>
            </div>
            <!--
            <div class="selectable-input margin-bottom-20">
                <div class="value">
                    <input type="checkbox"
                           name="is-department"
                           id="new-division-is-department"
                           [(ngModel)]="newDivision.isDepartment">
                </div>
                <div class="label">Структурное подразделение является производственным отделением</div>
            </div>
            -->
            <div class="width-50 padding-right-5">
                <button type="submit"
                        class="btn green width-100 margin-bottom-10"
                        [disabled]="!newDivisionForm.valid"
                        (click)="addDivision()">
                    Добавить
                </button>
            </div>
            <div class="width-50 padding-left-5">
                <button type="button"
                        class="btn red width-100"
                        (click)="this.modals.close('new-division-modal')">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>


<!-- Модальное окно изменения структурного подразделения -->
<modal [id]="'edit-division-modal'"
       [title]="'Изменение структ. подразделения'"
       [width]="400"
       (onClose)="closeEditDivisionModal(editDivisionForm)"
       *ngIf="phoneBook.selectedDivision">
    <div class="modal-content">
        <form novalidate class="padding-20" #editDivisionForm="ngForm">
            <div class="margin-bottom-10" *ngIf="phoneBook.selectedDivision.parentId !== 0">
                <label for="new-division-parent">Структурное подразделение верхнего уровня</label>
                <input type="text"
                       name="parent"
                       id="selected-division-parent"
                       class="width-100 margin-top-5"
                       placeholder="Структурное подразделение верхнего уровня"
                       [value]="phoneBook.getDivisionById(phoneBook.selectedDivision.parentId).title"
                       disabled>
            </div>
            <div class="margin-bottom-20">
                <label for="new-division-title">Наименование структурного подразделения</label>
                <input type="text"
                       name="title"
                       id="selected-division-title"
                       class="width-100 margin-top-5"
                       placeholder="Введите наименование"
                       [(ngModel)]="phoneBook.selectedDivision.title"
                       required>
            </div>
            <!--
            <div class="selectable-input margin-bottom-20">
                <div class="value">
                    <input type="checkbox"
                           name="is-department"
                           id="new-division-is-department"
                           [(ngModel)]="newDivision.isDepartment">
                </div>
                <div class="label">Структурное подразделение является производственным отделением</div>
            </div>
            -->
            <div class="width-50 padding-right-5">
                <button type="submit"
                        class="btn green width-100 margin-bottom-10"
                        [disabled]="!editDivisionForm.valid || !editDivisionForm.dirty"
                        (click)="editDivision()">
                    Сохранить изменения
                </button>
            </div>
            <div class="width-50 padding-left-5">
                <button type="button"
                        class="btn red width-100"
                        (click)="this.modals.close('edit-division-modal')">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>


<!-- Модальное окно удаления структурного подразделения -->
<modal [id]="'delete-division-modal'"
       [title]="'Удаление структ. подразделения'"
       [width]="400"
       *ngIf="phoneBook.selectedDivision">
    <div class="modal-content">
        <form novalidate class="padding-20">
            <div class="margin-bottom-10" *ngIf="phoneBook.selectedDivision.parentId !== 0">
                Структурное подразделение "{{ phoneBook.selectedDivision.title }}" будет удалено.
            </div>
            <div class="width-50 padding-right-5">
                <button type="submit"
                        class="btn blue width-100 margin-bottom-10"
                        (click)="editDivision()">
                    Удалить
                </button>
            </div>
            <div class="width-50 padding-left-5">
                <button type="button"
                        class="btn red width-100"
                        (click)="this.modals.close('edit-division-modal')">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>


<!-- Модальное окно кадрирования фотографии абонента -->
<modal [id]="'edit-contact-photo-modal'"
       [title]="'Кадрирование фотографии'"
       [width]="516"
       [contentHeight]="330"
(onClose)="modals.close(true)">
    <div class="modal-content">
        <photo-editor
                *ngIf="phoneBook.selectedContact"
                [url]="phoneBook.selectedContact.photo"
                [width]="516"
                [height]="280"
                [frameWidth]="258"
                [frameHeight]="140"
                [frameLeft]="phoneBook.selectedContact.photoLeft"
                [frameTop]="phoneBook.selectedContact.photoTop"
                [zoom]="phoneBook.selectedContact.photoZoom"
                (onSaveChanges)="onChangeContactPhotoPosition($event)"
                (onCancelChanges)="onCancelContactPosition($event)">
        </photo-editor>
    </div>
</modal>


<!-- Модальное окно добавления нового абонента -->
<modal [id]="'new-contact-modal'"
       [title]="'Новый абонент'"
       [width]="500"
       [contentHeight]="550"
       (onClose)="closeNewContactModal(newContactForm)">
    <div class="modal-content">
        <div class="padding-20">
            <form novalidate #newContactForm="ngForm">
                <div class="margin-bottom-10">
                    <label for="new-contact-user">Пользователь</label>
                    <typeahead id="new-contact-user"
                               [options]="users"
                               [placeholder]="'Введите имя пользователя'"
                               [loading]="manager.loading"
                               [selectedOptionText]="'fio'"
                               [optionHeight]="50"
                               [limit]="5"
                               (onChange)="onUserSearchChange($event)"
                               (onSelect)="onUserSearchSelect($event)"
                               (onReset)="onResetUserSearch()">
                        <typeahead-option *ngFor="let user of users" [model]="user">
                            <div class="user-search-option">
                                <div class="user-photo">
                                    <div class="photo" *ngIf="user.photo" [ngStyle]="{'background': 'url(http://10.50.4.7:4444' + user.photo + ')'}"></div>
                                    <div class="no-photo" *ngIf="!user.photo">{{user.name[0] + user.surname[0]}}</div>
                                </div>
                                <div class="user-details">
                                    <span class="name">{{user.fio}}</span>
                                    <span class="position">{{user.position}}</span>
                                </div>
                            </div>
                        </typeahead-option>
                    </typeahead>
                </div>
                <div class="margin-bottom-10">
                    <label for="new-contact-surname">
                        Фамилия
                        <span class="form-error" *ngIf="surname.invalid && surname.dirty">Вы не указали фамилию абонента</span>
                    </label>
                    <input type="text"
                           name="surname"
                           id="new-contact-surname"
                           class="width-100"
                           placeholder="Введите фамилию"
                           [(ngModel)]="newContact.surname"
                           #surname="ngModel"
                           required>
                </div>
                <div class="margin-bottom-10">
                    <label for="new-contact-name">
                        Имя
                        <span class="form-error" *ngIf="name.invalid && name.dirty">Вы не указали имя абонента</span>
                    </label>
                    <input type="text"
                           name="name"
                           id="new-contact-name"
                           class="width-100"
                           placeholder="Введите имя"
                           [(ngModel)]="newContact.name"
                           #name="ngModel"
                           required>
                </div>
                <div class="margin-bottom-10">
                    <label for="new-contact-fname">
                        Отчество
                        <span class="form-error" *ngIf="fname.invalid && fname.dirty">Вы не указали отчество абонента</span>
                    </label>
                    <input type="text"
                           name="fname"
                           id="new-contact-fname"
                           class="width-100"
                           placeholder="Введите отчество"
                           [(ngModel)]="newContact.fname"
                           #fname="ngModel"
                           required>
                </div>
                <div class="margin-bottom-10">
                    <label for="new-contact-position">Должность</label>
                    <input type="text"
                           name="position"
                           id="new-contact-position"
                           class="width-100"
                           placeholder="Введите должность"
                           [(ngModel)]="newContact.position">
                </div>
                <div class="margin-bottom-10">
                    <label for="new-contact-position">E-mail</label>
                    <input type="text"
                           name="email"
                           id="new-contact-email"
                           class="width-100"
                           placeholder="Введите e-mail"
                           [(ngModel)]="newContact.email">
                </div>
                <div class="margin-bottom-20">
                    <label for="new-contact-position">Мобильный телефон</label>
                    <input type="text"
                           name="mobile"
                           id="new-contact-mobile"
                           class="width-100"
                           placeholder="Введите мобильный телефон"
                           [(ngModel)]="newContact.mobile">
                </div>
                <div>
                    <div class="width-50 padding-right-5">
                        <button type="submit" class="btn green width-100" [disabled]="newContactForm.invalid" (click)="addContact()">Добавить</button>
                    </div>
                    <div class="width-50 padding-left-5">
                        <button type="submit" class="btn red width-100" (click)="modals.close()">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>


<!-- Модальное окно изменения данных абонента -->
<modal [id]="'edit-contact-modal'"
       [title]="'Изменение данных абонента'"
       [width]="500"
       [contentHeight]="phoneBook.selectedContact && phoneBook.selectedContact.user ? 620 : 600"
       (onClose)="closeEditContactModal(editContactForm)">
    <div class="modal-content" *ngIf="phoneBook.selectedContact">
        <tabs [id]="'edit-contact-tabs'">
            <tab [id]="'contact-details'" [caption]="'Личные данные'" [width]="'50%'">
                <div class="padding-20">
                    <form novalidate #editContactForm="ngForm">
                        <div class="margin-bottom-10">
                            <label for="">Пользователь</label>
                            <typeahead *ngIf="!phoneBook.selectedContact.user" [placeholder]="'Введите имя пользователя'"
                                       [options]="users"
                                       [optionHeight]="50"
                                       [limit]="5"
                                       [loading]="manager.loading"
                                       [selectedOptionText]="'fio'"
                                       (onChange)="onUserSearchChange($event)"
                                       (onSelect)="onUserSearchSelect($event, editContactForm)"
                                       (onReset)="onResetUserSearch()">
                                <typeahead-option *ngFor="let user of users" [model]="user">
                                    <div class="user-search-option">
                                        <div class="user-photo">
                                            <div class="photo" *ngIf="user.photo" [ngStyle]="{'background': 'url(http://10.50.4.7:4444' + user.photo + ')'}"></div>
                                            <div class="no-photo" *ngIf="!user.photo">{{user.name[0] + user.surname[0]}}</div>
                                        </div>
                                        <div class="user-details">
                                            <span class="name">{{user.fio}}</span>
                                            <span class="position">{{user.position}}</span>
                                        </div>
                                    </div>
                                </typeahead-option>
                            </typeahead>
                            <div class="selected-contact-user" *ngIf="phoneBook.selectedContact.user">
                                <div class="photo" [ngStyle]="{'background': 'url(http://10.50.4.7:4444' + phoneBook.selectedContact.user.photo + ')'}"></div>
                                <div class="no-photo" *ngIf="!phoneBook.selectedContact.user.photo">{{ phoneBook.selectedContact.user.name[0] + phoneBook.selectedContact.user.surname[0] }}</div>
                                <!-- Данные о привязанном пользователе -->
                                <div class="details">
                                    <div class="name" [innerHTML]="phoneBook.selectedContact.user.fio"></div>
                                    <div class="position" [innerHTML]="phoneBook.selectedContact.user.position"></div>
                                </div>
                                <!-- Кнопка отвязки контакта от пользователя -->
                                <div class="clear-user-button" title="Отвязать пользователя"
                                     (click)="clearSelectedContactUser(editContactForm)">
                                    &times;
                                </div>
                            </div>
                        </div>
                        <div class="margin-bottom-10">
                            <label for="selected-contact-surname">
                                Фамилия
                                <span class="form-error" *ngIf="surname.invalid && surname.dirty">Вы не указали фамилию абонента</span>
                            </label>
                            <input type="text"
                                   name="surname"
                                   id="selected-contact-surname"
                                   class="width-100"
                                   placeholder="Введите фамилию"
                                   [(ngModel)]="phoneBook.selectedContact.surname"
                                   #surname="ngModel"
                                   required>
                        </div>
                        <div class="margin-bottom-10">
                            <label for="selected-contact-name">
                                Имя
                                <span class="form-error" *ngIf="name.invalid && name.dirty">Вы не указали имя абонента</span>
                            </label>
                            <input type="text"
                                   name="name"
                                   id="selected-contact-name"
                                   class="width-100"
                                   placeholder="Введите имя"
                                   [(ngModel)]="phoneBook.selectedContact.name"
                                   #name="ngModel"
                                   required>
                        </div>
                        <div class="margin-bottom-10">
                            <label for="selected-contact-fname">
                                Отчество
                                <span class="form-error" *ngIf="fname.invalid && fname.dirty">Вы не указали отчество абонента</span>
                            </label>
                            <input type="text"
                                   name="fname"
                                   id="selected-contact-fname"
                                   class="width-100"
                                   placeholder="Введите отчество"
                                   [(ngModel)]="phoneBook.selectedContact.fname"
                                   #fname="ngModel"
                                   required>
                        </div>
                        <div class="margin-bottom-10">
                            <label for="selected-contact-position">Должность</label>
                            <input type="text"
                                   name="position"
                                   id="selected-contact-position"
                                   class="width-100"
                                   placeholder="Введите должность"
                                   [(ngModel)]="phoneBook.selectedContact.position">
                        </div>
                        <div class="margin-bottom-10">
                            <label for="selected-contact-position">E-mail</label>
                            <input type="text"
                                   name="email"
                                   id="selected-contact-email"
                                   class="width-100"
                                   placeholder="Введите e-mail"
                                   [(ngModel)]="phoneBook.selectedContact.email">
                        </div>
                        <div class="margin-bottom-20">
                            <label for="selected-contact-mobile">Мобильный телефон</label>
                            <input type="text"
                                   name="mobile"
                                   id="selected-contact-mobile"
                                   class="width-100"
                                   placeholder="Введите мобильный телефон"
                                   [(ngModel)]="phoneBook.selectedContact.mobile">
                        </div>
                        <div>
                            <div class="width-50 padding-right-5">
                                <button type="submit"
                                        class="btn green width-100"
                                        [disabled]="!editContactForm.dirty || editContactForm.invalid"
                                        (click)="editContact()">
                                    Сохранить изменения
                                </button>
                            </div>
                            <div class="width-50 padding-left-5">
                                <button type="submit"
                                        class="btn red width-100"
                                        (click)="modals.close()">
                                    Отмена
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </tab>
            <tab [id]="'contact-phones'" [caption]="'Контактные телефоны'" [width]="'50%'">
                <!-- Список телефонов абонента с привязкой к АТС -->
                <div class="padding-20">
                    <form *ngFor="let phone of phoneBook.selectedContact.phones; trackBy:trackByFn;" novalidate #phoneForm="ngForm">
                        <div class="margin-bottom-15">
                            <div class="input-row margin-bottom-5 width-100">
                                <select name="ats" class="ats width-60" [(ngModel)]="phone.atsId">
                                    <optgroup label="Внутренние АТС">
                                        <option *ngFor="let innerAts of phoneBook.innerAtsList"
                                                [ngValue]="innerAts.id"
                                                [disabled]="!innerAts.isSelectable">{{ '&#160;'.repeat(innerAts.level * 4) + innerAts.title }}
                                        </option>
                                    </optgroup>
                                    <optgroup label="Внешние АТС">
                                        <option *ngFor="let outerAts of phoneBook.outerAtsList"
                                                [ngValue]="outerAts.id"
                                                [disabled]="!outerAts.isSelectable">{{ '&#160;'.repeat(outerAts.level * 4) + outerAts.title }}
                                        </option>
                                    </optgroup>
                                </select>
                                <input type="text" name="phone" class="phone-number width-20" placeholder="Введите номер" [(ngModel)]="phone.number" required>
                                <div class="width-20">
                                    <button type="button" *ngIf="phoneForm.dirty && phoneForm.valid" class="btn green" title="Сохранить телефон" (click)="editPhone(phone, phoneForm)"><i class="fa fa-save"></i></button>
                                    <button type="button" class="btn red" title="Удалить телефон" (click)="deletePhone(phone)"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                            <!--
                            <div class="input-row">
                                <input type="text" name="phone" class="phone-number width-100" placeholder="Введите номер" [(ngModel)]="phone.number" required>
                                <button type="button" *ngIf="phoneForm.dirty && phoneForm.valid" class="btn green" title="Сохранить телефон" (click)="editPhone(phone, phoneForm)"><i class="fa fa-save"></i></button>
                                <button type="button" class="btn red" title="Удалить телефон" (click)="deletePhone(phone)"><i class="fa fa-save"></i></button>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
                <div class="padding-20">
                    <button class="btn blue width-100" (click)="openNewContactPhoneModal()">Добавить телефон</button>
                </div>
            </tab>
        </tabs>
    </div>
</modal>




<!-- Модальное окно добавления абоненту нового номера телефона -->
<modal [id]="'new-contact-phone-modal'"
       [title]="'Новый телефонный номер'"
       [width]="400"
       (onClose)="closeNewContactPhoneModal(newContactPhoneForm)">
    <div class="modal-content">
        <form novalidate class="padding-20" #newContactPhoneForm="ngForm">
            <div class="margin-bottom-20">
                <label for="new-contact-phone-ats">АТС</label>
                <select id="new-contact-phone-ats" name="ats" class="ats width-100" [(ngModel)]="newContactPhone.atsId" required>
                    <optgroup label="Внутренние АТС">
                        <option *ngFor="let innerAts of phoneBook.innerAtsList"
                                [ngValue]="innerAts.id"
                                [disabled]="!innerAts.isSelectable">{{ '&#160;'.repeat(innerAts.level * 4) + innerAts.title }}
                        </option>
                    </optgroup>
                    <optgroup label="Внешние АТС">
                        <option *ngFor="let outerAts of phoneBook.outerAtsList"
                                [ngValue]="outerAts.id"
                                [disabled]="!outerAts.isSelectable">{{ '&#160;'.repeat(outerAts.level * 4) + outerAts.title }}
                        </option>
                    </optgroup>
                </select>
            </div>
            <div class="margin-bottom-20">
                <label for="new-phone-number">Телефон</label>
                <input type="text"
                       name="number"
                       id="new-phone-number"
                       class="width-100 margin-top-5"
                       placeholder="Введите номер телефона"
                       [(ngModel)]="newContactPhone.number"
                       required>
            </div>
            <div class="width-50 padding-right-5">
                <button type="submit"
                        class="btn green width-100 margin-bottom-10"
                        [disabled]="!newContactPhoneForm.valid && newContactPhone.atsId === 0"
                        (click)="addContactPhone()">
                    Добавить
                </button>
            </div>
            <div class="width-50 padding-left-5">
                <button type="button"
                        class="btn red width-100"
                        (click)="this.modals.close('new-contact-phone-modal')">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>