#app-header {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 350px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 35px;
  box-sizing: border-box;
  background: #3DB8DA;
  transition: left 0.2s linear 0s;
}
#app-header #title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 100%;
  box-sizing: border-box;
}
#app-header #title .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: white;
  border-radius: 50%;
}
#app-header #title .logo .fa {
  font-size: 30px;
  color: #3DB8DA;
}
#app-header #title .label {
  display: flex;
  height: 80%;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans Semi Bold";
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
}
#app-header #search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
#app-header #search #search-left {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-left: 20px;
  box-sizing: border-box;
}
#app-header #search #search-center {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#app-header #search #search-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#app-header button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0097A7;
  border: 0px solid transparent;
  color: white;
}
#app-header button:hover {
  background: #00838F;
}
#app-header button .fa {
  color: white;
}
#app-header button.favorites {
  margin-right: 10px;
}
#app-header button.favorites .fa {
  font-size: 20px;
  color: #FFC107;
}
#app-header button.favorites.active {
  background: #006064;
}
#app-header button.favorites.active .corner {
  visibility: visible;
}
#app-header button.favorites .corner {
  position: absolute;
  display: inline-block;
  bottom: -14px;
  border-width: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  visibility: hidden;
}
#app-header button .badge {
  position: absolute;
  right: 6px;
  top: 9px;
  width: 17px;
  height: 17px;
  margin-top: -12px;
  margin-right: -10px;
  font-family: 'Open Sans Semi Bold';
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  background: #E91E63;
  border-radius: 50%;
}
#app-header .user-logged {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px !important;
  height: 40px;
  box-sizing: border-box;
  font-family: 'Open Sans Semi Bold';
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  background: #0097A7;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
#app-header .user-logged.active {
  background: #006064;
}
#app-header .user-logged.active .corner {
  visibility: visible;
}
#app-header .user-logged .corner {
  position: absolute;
  display: inline-block;
  bottom: -14px;
  border-width: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  visibility: hidden;
}
#app-header #help-button.active {
  background: #006064;
}
#app-header #help-button.active .corner {
  visibility: visible;
}
#app-header #help-button .corner {
  position: absolute;
  display: inline-block;
  bottom: -14px;
  border-width: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  visibility: hidden;
}
#app-divisions {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 350px;
  box-sizing: border-box;
  background: #FAFAFA;
  transition: width 0.2s linear 0s;
}
#app-divisions #app-divisions-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-right: 0px;
  box-sizing: border-box;
  background: #3DB8DA;
}
#app-divisions #app-divisions-header #company-selector {
  display: flex;
  padding: 10px;
  width: 100%;
  outline: none;
}
#app-divisions #app-divisions-header .app-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  padding-right: 20px;
  font-family: 'Open Sans Semi Bold';
  font-size: 20px;
  color: white;
  border-right: 1px solid #E9EBEC;
}
#app-divisions #app-divisions-header .app-title .fa {
  color: white;
}
#app-divisions #app-divisions-header button {
  overflow: visible;
  width: 40px;
  height: 30px;
  background: transparent;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.2s linear 0s;
}
#app-divisions #app-divisions-header button:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}
#app-divisions #app-divisions-header button .fa {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #80CBC4;
}
#app-divisions #app-divisions-header button.favorites {
  overflow: visible;
  margin-right: 10px;
}
#app-divisions #app-divisions-header button.favorites .fa {
  font-size: 20px;
  color: #FFC107;
}
#app-divisions #app-divisions-header button .badge {
  float: right;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: -15px;
  margin-right: -10px;
  font-family: 'Open Sans Semi Bold';
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  background: #E91E63;
  border-radius: 50%;
}
#app-divisions #app-divisions-header button.badged .fa {
  margin-right: -7px;
}
#app-divisions #app-divisions-content {
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  border-right: 1px solid #E1ECF4;
}
#app-divisions #app-divisions-content.with-controls {
  bottom: 50px;
}
#app-divisions #app-division-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #eceff1;
  border-top: 1px solid lightgrey;
}
#app-content-wrapper {
  position: absolute;
  top: 60px;
  left: 350px;
  right: 0px;
  bottom: 0px;
  transition: left 0.2s linear 0s;
  background: white;
  /**
  * Панель выбора АТС для маршрутизации
  **/
}
#app-content-wrapper.with-ats #app-content {
  top: 60px;
}
#app-content-wrapper #app-ats {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -60px;
  background: #F0F4C3;
  -webkit-transition: margin-top linear 0.4s;
  -moz-transition: margin-top linear 0.4s;
  -ms-transition: margin-top linear 0.4s;
  -o-transition: margin-top linear 0.4s;
  transition: margin-top linear 0.4s;
}
#app-content-wrapper #app-ats.opened {
  margin-top: 0px;
}
#app-content-wrapper #app-ats .ats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#app-content-wrapper #app-ats .ats .title {
  display: inline-block;
  margin-right: 10px;
  font-family: "Open Sans Regular";
  text-transform: uppercase;
  color: gray;
}
#app-content-wrapper #app-ats .ats select {
  height: 40px;
  font-family: "Open Sans Regular";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: gray;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#app-content-wrapper #app-ats .ats select option {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
  color: gray;
}
#app-content-wrapper #app-ats .ats select option[selected] {
  text-decoration: underline;
}
#app-content-wrapper #app-ats .close-button {
  justify-self: flex-end;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
#app-content-wrapper #app-ats .close-button:hover {
  color: black;
}
#app-content-wrapper #app-content {
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  -webkit-transition: top linear 0.4s;
  -moz-transition: top linear 0.4s;
  -ms-transition: top linear 0.4s;
  -o-transition: top linear 0.4s;
  transition: top linear 0.4s;
}
#app-content-wrapper #app-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#new-contact-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
  background: #D32F2F;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#new-contact-button:hover {
  background: #B71C1C;
}
.selected-contact-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-right: 0px;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.selected-contact-user .photo {
  width: 40px;
  height: 40px;
  background-size: cover !important;
  background-position: top center !important;
  border-radius: 50%;
}
.selected-contact-user .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 10px;
  font-family: "Open Sans Regular";
  box-sizing: border-box;
}
.selected-contact-user .details .position {
  color: #B71C1C;
}
.selected-contact-user .clear-user-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-family: "Open Sans Regular";
  font-size: 30px;
  color: lightgray;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid lightgray;
}
.selected-contact-user .clear-user-button:hover {
  color: gray;
}
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  #app-header {
    left: 0px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #app-header input[type='text'] {
    height: 25px;
  }
  #app-content-wrapper {
    top: 50px;
    left: 0px;
  }
  #app-divisions {
    width: 0px;
  }
  #app-contacts {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    padding: 10px !important;
  }
  #app-contacts .breadcrumb {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans Semi Bold';
    font-size: 18px;
  }
}
/*
 @media screen and (min-width: 500px) and (max-width: 900px) {
 #app-divisions {
 display: none;
 float: none;
 }

 #app-contacts {
 margin-left: 0px !important;
 }
 }
 */
/* Target landscape tablets, desktops */
@media screen and (min-width: 800px) and (max-width: 1280px) {
  #app-header {
    height: 50px;
  }
  #app-content-wrapper {
    top: 50px;
  }
  #app-divisions {
    width: 0px;
  }
  #app-contacts {
    margin-left: 0px !important;
  }
}
/* Target big displays */
@media screen and (min-width: 1400px) {
  #app-header {
    height: 60px;
  }
  #app-content-wrapper {
    top: 60px;
  }
}
/* Target big displays */
