<div id="app-header">
    <div class="combined-input margin-right-10">
        <i class="fa fa-search"></i>
        <input type="text" name="" id="" placeholder="Введите имя абонента, телефон или e-mail" [(ngModel)]="phoneBook.searchQuery" (keyup)="searchContacts(phoneBook.searchQuery)">
        <i class="fa fa-times clickable" *ngIf="phoneBook.searchQuery.length > 0" (click)="phoneBook.clearSearch()" title="Очистить поиск"></i>
        <i class="fa fa-gear clickable"
           *ngIf="phoneBook.getContactGroupList().length > 0 || (phoneBook.favoritesMode() === true && session.user() !== null && session.user().favorites.contacts.length > 0)"
           (click)="openAtsPanel()" title="Выбрать АТС"></i>
    </div>
    <button type="button" class="btn small margin-right-10">
        <i class="fa fa-question-circle"></i>
    </button>

    <!-- Избранные контакты -->
    <button type="button" class="btn small favorites badged" routerLink="/favorites" *ngIf="session.user() !== null && session.user().favorites.contacts.length > 0">
        <span class="badge">{{ session.user().favorites.contacts.length }}</span>
        <i class="fa fa-star"></i>
    </button>

    <!-- Авторизация пользователя -->
    <button type="button" class="btn small" (click)="openAuthModal()" title="Войти" *ngIf="session.user() === null">
        <i class="fa fa-sign-in"></i>
    </button>

    <!-- Меню пользователя -->
    <div class="user-logged" *ngIf="session.user() !== null" (click)="openUserMenuModal()"
         [ngStyle]="{ 'background': session.user().photo !== '' ? 'url(http://127.0.0.1:4444' + session.user().photo + ')' : ''}">
        <span *ngIf="session.user().photo === ''">{{ session.user().name[0] + session.user().surname[0] }}</span>
    </div>
</div>
<div id="app-divisions">
    <!--
    <div id="app-divisions-header">
        <span class="app-title">
            Телефонный справочник
            <button type="button">
        <i class="fa fa-question-circle"></i>
    </button>
        </span>
    </div>
    -->
    <div id="app-divisions-content">
        <division-tree [divisions]="phoneBook.getDivisionList()" (onSelect)="selectDivision($event)"></division-tree>
    </div>
</div>



<div id="app-content-wrapper" [ngClass]="{ 'with-ats': isAtsPanelOpened }">
    <div id="app-ats" [ngClass]="{ 'opened': isAtsPanelOpened }">
        <div class="ats">
            <span class="title">Вы звоните из</span>
            <select name="ats" id="ats" [(ngModel)]="phoneBook.selectedATS().id" (change)="selectSourceAts()">
                <option value="{{ 17 }}">Аппарат управления</option>
                <option value="{{ 18 }}">Северные электрические сети</option>
                <option value="{{ 19 }}">Центральные электрические сети</option>
            </select>
        </div>
        <div class="close-button" title="Закрыть" (click)="closeAtsPanel()">&times;</div>
    </div>

    <div id="app-content">
        <router-outlet></router-outlet>
    </div>
    <!--
    <stub *ngIf="phoneBook.getContactGroupList().length === 0 && !phoneBook.isLoadingInProgress()" [icon]="'fa-building'" [text]="'Выберите структурное подразделение'"></stub>
    <stub *ngIf="phoneBook.isLoadingInProgress() === true" [icon]="'fa-spinner fa-spin'" [text]="'Загрузка...'"></stub>
    <div id="app-contacts" *ngIf="phoneBook.getContactGroupList().length > 0">
        <contact-group [group]="group" *ngFor="let group of phoneBook.getContactGroupList()"></contact-group>
    </div>
    -->
</div>


<auth [isOpened]="inAuthMode" (onClose)="closeAuthModal()"></auth>
<user-menu [isOpened]="inUserMenuMode" (onClose)="closeUserMenuModal()"></user-menu>
<edit-contact [isOpened]="phoneBook.selectedContact() !== null" (onClose)="closeEditContactModal()" [contact]="phoneBook.selectedContact()"></edit-contact>