.contact-group-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .divisions {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans Semi Bold';
    font-size: 16px;
    color: #607D8B;
    border-bottom: 1px solid #ECEFF1;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    //margin-right: auto;
  }
}