.contact-group-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact-group-component .divisions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #90A4AE;
  border-bottom: 1px dotted #CFD8DC;
  border-top: 1px dotted #CFD8DC;
  vertical-align: bottom;
  background: #FAFAFA;
}
.contact-group-component .divisions .organization {
  width: 100%;
  font-family: "Open Sans Semi Bold";
  font-size: 18px;
  color: #006064;
}
.contact-group-component .divisions .division {
  float: left;
  cursor: pointer;
}
.contact-group-component .divisions .division:hover {
  color: #607D8B;
  text-decoration: underline;
}
.contact-group-component .divisions .division.selected {
  margin-left: 0px;
  margin-right: 10px;
  font-size: 14px;
  color: #607D8B;
}
.contact-group-component .divisions .separator {
  margin-left: 8px;
  margin-right: 7px;
}
.contact-group-component .divisions .separator .fa {
  font-size: 7px;
  vertical-align: middle;
}
.contact-group-component .contacts .four-in-row .contact {
  margin-right: 0px;
  background: red !important;
}
