.contact-group-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  //padding: 10px;
  box-sizing: border-box;

  .divisions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    //margin-left: -10px;
    //margin-right:  -10px;
    padding: 10px 0px;
    box-sizing: border-box;
    font-family: 'Open Sans Regular';
    font-size: 14px;
    //text-transform: uppercase;
    color: #90A4AE;
    //border-bottom: 1px dotted #CFD8DC;
    //border-top: 1px dotted #CFD8DC;
    //border-top: 1px solid lightgray;
    //border-left: 1px solid lightgray;
    //border-right: 1px solid lightgray;
    vertical-align: bottom;
    //background: #FAFAFA;
    //background: #EEEEEE;
    //box-shadow: inset 0px 1px 1px #BDBDBD;
    //border-radius: 30px;
    //box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


    .left-hr {
      position: relative;
      display: flex;
      flex-direction: row;
      //flex-shrink: 0;
      flex-grow: 1;
      min-width: 40px;
      height: 1px;
      //margin-top: -10%;
      box-sizing: border-box;
      border-top: 1px solid #CFD8DC;
    }

    .right-hr {
      display: flex;
      flex-shrink: 0;
      flex-grow: 1;
      min-width: 40px;
      height: 1px;
      border-top: 1px solid #CFD8DC;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-grow: 0;
      flex-wrap: wrap;
      padding: 10px 20px;
      box-sizing: border-box;
      box-shadow: inset 0px 1px 1px #BDBDBD;
      background: #EEEEEE;
      border-radius: 25px;
    }


    .organization {
      display: block;
      width: 100%;
      font-family: "Open Sans Semi Bold";
      font-size: 17px;
      text-align: center;
      color: #006064;
    }


    .division {
      //display: flex;
      //flex-direction: column;
      //justify-content: flex-end;
      float: left;
      //margin-right: 7px;
      cursor: pointer;
      &:hover {
        color: #607D8B;
        text-decoration: underline;
      }
      //margin-left: 7px;
      //height: 23px;
      //vertical-align: bottom;
      &.selected {
        margin-left: 0px;
        margin-right: 10px;
        font-size: 14px;
        color: #607D8B;
      }
    }

    .separator {
      margin-left: 8px;
      margin-right: 7px;
      //font-size: 10px;
      .fa {
        font-size: 7px;
        vertical-align: middle;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-evenly;
    //align-content: flex-start;
    //margin-right: auto;
    //box-sizing: border-box;
    //border-left: 1px solid red;
    //padding: 10px;
    //background: #EEEEEE;
    //box-shadow: inset 0px 1px 1px #BDBDBD;
    //border-radius: 4px;


      .four-in-row {
        .contact{
          margin-right: 0px;
          background: red !important;
        }
      }
  }
}