.contact-group-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.contact-group-component .divisions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 0px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #90A4AE;
  vertical-align: bottom;
}
.contact-group-component .divisions .left-hr {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-width: 40px;
  height: 60%;
  box-sizing: border-box;
  border-top: 1px solid #CFD8DC;
  border-left: 1px solid #CFD8DC;
}
.contact-group-component .divisions .right-hr {
  display: flex;
  flex-shrink: 0;
  min-width: 40px;
  height: 50%;
  border-top: 1px solid #CFD8DC;
}
.contact-group-component .divisions .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 1px #BDBDBD;
  background: #EEEEEE;
  border-radius: 25px;
}
.contact-group-component .divisions .organization {
  display: block;
  width: 100%;
  font-family: "Open Sans Semi Bold";
  font-size: 17px;
  text-align: center;
  color: #006064;
}
.contact-group-component .divisions .division {
  float: left;
  cursor: pointer;
}
.contact-group-component .divisions .division:hover {
  color: #607D8B;
  text-decoration: underline;
}
.contact-group-component .divisions .division.selected {
  margin-left: 0px;
  margin-right: 10px;
  font-size: 14px;
  color: #607D8B;
}
.contact-group-component .divisions .separator {
  margin-left: 8px;
  margin-right: 7px;
}
.contact-group-component .divisions .separator .fa {
  font-size: 7px;
  vertical-align: middle;
}
.contact-group-component .contacts .four-in-row .contact {
  margin-right: 0px;
  background: red !important;
}
