#contact-info-modal .photo {
  height: 319px;
  background-size: contain !important;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #EEEEEE;
}
#contact-info-modal .photo.with-photo {
  background-size: cover !important;
  border-bottom: none;
}
#contact-info-modal .details {
  flex: 1;
}
#contact-info-modal .details .detail {
  flex-shrink: 0;
  min-height: 35px;
  box-sizing: border-box;
}
#contact-info-modal .details .row-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 15px;
  margin-right: 20px;
}
#contact-info-modal .details .row-icon .fa {
  font-size: 20px;
  color: #B0BEC5;
}
#contact-info-modal .details .row-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 15px;
  box-sizing: content-box;
}
#contact-info-modal .details .row-content .not-specified {
  font-size: 14px;
  color: #B0BEC5;
}
#contact-info-modal .details .row-content .fio {
  font-family: "Open Sans Semi Bold";
  font-size: 15px;
  line-height: 16px;
  color: #263238;
}
#contact-info-modal .details .row-content .position {
  font-family: "Open Sans Regular";
  font-size: 15px;
  line-height: 15px;
  color: #B71C1C;
}
#contact-info-modal .details .row-content .phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans Regular";
  font-size: 17px;
  color: #263238;
}
#contact-info-modal .details .row-content .mobile {
  font-family: "Open Sans Regular";
  font-size: 17px;
}
#contact-info-modal .details .row-content a {
  font-size: 15px;
  color: #29B6F6;
}
#contact-info-modal .details .row-content a:hover {
  color: #0288D1;
}
#contact-info-modal .details .row-content .separator {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 7px;
  color: #B0BEC5;
}
#contact-info-modal .details .separated {
  border-bottom: 1px solid #ECEFF1;
}
#app-header {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 350px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 35px;
  box-sizing: border-box;
  background: #3DB8DA;
  transition: left 0.2s linear 0s;
}
#app-header #title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 100%;
  box-sizing: border-box;
}
#app-header #title .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: white;
  border-radius: 50%;
}
#app-header #title .logo .fa {
  font-size: 30px;
  color: #3DB8DA;
}
#app-header #title .label {
  display: flex;
  height: 80%;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans Semi Bold";
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
}
#app-header #sidebar-icon {
  display: none;
  cursor: pointer;
}
#app-header #sidebar-icon .fa {
  font-size: 30px;
  color: white;
}
#app-header #search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
#app-header #search #search-left {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-left: 20px;
  box-sizing: border-box;
}
#app-header #search #search-center {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#app-header #search #search-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#app-header button {
  position: relative;
  background: #0097A7;
  border: 0px solid transparent;
}
#app-header button:hover {
  background: #00838F;
}
#app-header button.active {
  background: #006064;
}
#app-header button.active .corner {
  visibility: visible;
}
#app-header button.favorites .fa {
  font-size: 20px;
  color: #FFC107;
}
#app-header button.account {
  background-size: cover !important;
  background-position: top center !important;
}
#app-header button .badge {
  position: absolute;
  right: 6px;
  top: 9px;
  width: 17px;
  height: 17px;
  margin-top: -12px;
  margin-right: -10px;
  font-family: 'Open Sans Semi Bold';
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  background: #E91E63;
  border-radius: 50%;
}
#app-header button .corner {
  height: 10px;
  position: absolute;
  display: inline-block;
  bottom: -14px;
  border: 10px solid transparent;
  border-bottom-color: #F5F5F5;
  visibility: hidden;
}
#app-header button .corner.ats-panel-opened {
  background: #F0F4C3;
}
#app-divisions {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 350px;
  box-sizing: border-box;
  background: white;
  transition: left 0.2s linear 0s;
}
#app-divisions #app-divisions-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-right: 0px;
  box-sizing: border-box;
  background: #3DB8DA;
}
#app-divisions #app-divisions-header #company-selector {
  display: flex;
  padding: 10px;
  width: 100%;
  outline: none;
}
#app-divisions #app-divisions-header .app-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  padding-right: 20px;
  font-family: 'Open Sans Semi Bold';
  font-size: 20px;
  color: white;
  border-right: 1px solid #E9EBEC;
}
#app-divisions #app-divisions-header .app-title .fa {
  color: white;
}
#app-divisions #app-divisions-header button {
  overflow: visible;
  width: 40px;
  height: 30px;
  background: transparent;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.2s linear 0s;
}
#app-divisions #app-divisions-header button:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}
#app-divisions #app-divisions-header button .fa {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px !important;
  color: #80CBC4;
}
#app-divisions #app-divisions-header button.favorites {
  overflow: visible !important;
  margin-right: 10px;
}
#app-divisions #app-divisions-header button.favorites .fa {
  font-size: 20px;
  color: #FFC107;
}
#app-divisions #app-divisions-header button .badge {
  float: right;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: -15px;
  margin-right: -10px;
  font-family: 'Open Sans Semi Bold';
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  background: #E91E63;
  border-radius: 50%;
}
#app-divisions #app-divisions-header button.badged .fa {
  margin-right: -7px;
}
#app-divisions #app-divisions-content {
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  border-right: 1px solid #E1ECF4;
}
#app-divisions #app-divisions-content.with-controls {
  bottom: 50px;
}
#app-divisions #app-division-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #eceff1;
  border-top: 1px solid lightgrey;
}
#app-content-wrapper {
  position: absolute;
  top: 60px;
  left: 350px;
  right: 0px;
  bottom: 0px;
  transition: left 0.2s linear 0s;
  background: #F5F5F5;
  /**
  * Панель выбора АТС для маршрутизации
  **/
}
#app-content-wrapper.with-ats #app-content {
  top: 60px;
}
#app-content-wrapper #app-ats {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -60px;
  box-sizing: border-box;
  background: #F0F4C3;
  border-bottom: 2px solid #E0E0E0;
  -webkit-transition: margin-top linear 0.4s;
  -moz-transition: margin-top linear 0.4s;
  -ms-transition: margin-top linear 0.4s;
  -o-transition: margin-top linear 0.4s;
  transition: margin-top linear 0.4s;
}
#app-content-wrapper #app-ats.opened {
  margin-top: 0px;
}
#app-content-wrapper #app-ats .ats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#app-content-wrapper #app-ats .ats .title {
  display: inline-block;
  margin-right: 10px;
  font-family: "Open Sans Regular";
  text-transform: uppercase;
  color: gray;
}
#app-content-wrapper #app-ats .ats select {
  height: 40px;
  font-family: "Open Sans Regular";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: gray;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#app-content-wrapper #app-ats .ats select option {
  font-family: "Open Sans Regular";
  text-transform: uppercase;
  color: gray;
}
#app-content-wrapper #app-ats .ats select option[selected] {
  text-decoration: underline;
}
#app-content-wrapper #app-ats .close-button {
  justify-self: flex-end;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
#app-content-wrapper #app-ats .close-button:hover {
  color: black;
}
#app-content-wrapper #app-content {
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  -webkit-transition: top linear 0.4s;
  -moz-transition: top linear 0.4s;
  -ms-transition: top linear 0.4s;
  -o-transition: top linear 0.4s;
  transition: top linear 0.4s;
}
#app-content-wrapper #app-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.selected-contact-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-right: 0px;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.selected-contact-user .photo {
  width: 40px;
  height: 40px;
  background-size: cover !important;
  background-position: top center !important;
  border-radius: 50%;
}
.selected-contact-user .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 10px;
  font-family: "Open Sans Regular";
  box-sizing: border-box;
}
.selected-contact-user .details .position {
  color: #B71C1C;
}
.contact-phones-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
}
.contact-phones-list .list-caption {
  display: flex;
  height: 35px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: "Open Sans Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #BDBDBD;
}
.contact-phones-list .contact-phone-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background: #FAFAFA;
  border-radius: 4px;
}
.contact-phones-list .contact-phone-item .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  color: #9575CD;
  width: 40px;
}
.contact-phones-list .contact-phone-item .icon .fa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #EDE7F6;
  border-radius: 4px;
}
.contact-phones-list .contact-phone-item .phone-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans Regular";
  font-size: 14px;
  flex: 1;
}
.contact-phones-list .contact-phone-item .phone-details,
.contact-phones-list .contact-phone-item .phone-details > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-phones-list .contact-phone-item .phone-details .ats {
  color: #607D8B;
}
.contact-phones-list .contact-phone-item .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  border-left: 2px solid #EEEEEE;
}
.form-footer {
  background: #F5F5F5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#organization-offices {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#organization-offices .content {
  overflow: auto;
  flex-grow: 1;
  box-sizing: border-box;
}
#organization-offices .footer {
  box-sizing: border-box;
  background: #F5F5F5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-layout .content {
  overflow: auto;
  flex-grow: 1;
  box-sizing: border-box;
}
.form-layout .footer {
  box-sizing: border-box;
  background: #F5F5F5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  #app-header {
    left: 0px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #app-header input[type='text'] {
    width: 35px;
    height: 25px;
  }
  #app-header button[type='button'] {
    flex-grow: 0;
    flex-shrink: 0;
    width: 35px !important;
    height: 35px !important;
  }
  #app-header #title {
    display: none;
  }
  #app-header #sidebar-icon {
    display: flex;
  }
  #app-header #search #search-right {
    display: none;
  }
  #app-content-wrapper {
    top: 50px;
    left: 0px;
  }
  #app-divisions {
    left: -350px;
  }
  #app-contacts {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    padding: 10px !important;
  }
  #app-contacts .breadcrumb {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans Semi Bold';
    font-size: 18px;
  }
}
/*
 @media screen and (min-width: 500px) and (max-width: 900px) {
 #app-divisions {
 display: none;
 float: none;
 }

 #app-contacts {
 margin-left: 0px !important;
 }
 }
 */
/* Target landscape tablets, desktops */
@media screen and (min-width: 800px) and (max-width: 1280px) {
  #app-header {
    left: 0px;
  }
  #app-header #title {
    display: none;
  }
  #app-header #sidebar-icon {
    display: flex;
  }
  #app-content-wrapper {
    left: 0px;
    top: 60px;
  }
  #app-divisions {
    left: -350px;
  }
  #app-contacts {
    margin-left: 0px !important;
  }
}
/* Target big displays */
@media screen and (min-width: 1400px) {
  #app-header {
    height: 60px;
  }
  #app-content-wrapper {
    top: 60px;
  }
}
