<div class="contact">
    <div class="contact-photo">
        <div class="favorites-icon">
            <i class="fa fa-star"></i>
        </div>
        <div class="photo"></div>
        <div class="more-icon">
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="contact-details">
        <div class="surname">Ворошилов</div>
        <div class="name">Валентин Павлович</div>
        <div class="position">Инженер-программист 159 категории 29 класса</div>
        <div class="separator"></div>
        <div class="phones">
            <i class="fa fa-phone"></i>
            <span class="phone-item">22-44,</span>
            <span class="phone-item">(12)22-44,</span>
            <span class="phone-item">(23)22-44-66</span>
        </div>
        <div class="mobile">
            <i class="fa fa-mobile-phone"></i>
            +7 (921) 555-47-99
        </div>
        <div class="email">
            <i class="fa fa-at"></i>
            <a href="mailto:ipvoroshilov@kolenergo.ru">ipvoroshilov@kolenergo.ru</a>
        </div>
    </div>
</div>