.row {
  overflow: auto;
  box-sizing: border-box;
}
.width-100 {
  width: 100%;
  box-sizing: border-box;
}
.width-95 {
  float: left;
  width: 95%;
  box-sizing: border-box;
}
.width-90 {
  float: left;
  width: 90%;
  box-sizing: border-box;
}
.width-85 {
  float: left;
  width: 85%;
  box-sizing: border-box;
}
.width-80 {
  float: left;
  width: 80%;
  box-sizing: border-box;
}
.width-75 {
  float: left;
  width: 75%;
  box-sizing: border-box;
}
.width-70 {
  float: left;
  width: 70%;
  box-sizing: border-box;
}
.width-65 {
  float: left;
  width: 65%;
  box-sizing: border-box;
}
.width-60 {
  float: left;
  width: 60%;
  box-sizing: border-box;
}
.width-55 {
  float: left;
  width: 55%;
  box-sizing: border-box;
}
.width-50 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.width-45 {
  float: left;
  width: 45%;
  box-sizing: border-box;
}
.width-40 {
  float: left;
  width: 40%;
  box-sizing: border-box;
}
.width-35 {
  float: left;
  width: 35%;
  box-sizing: border-box;
}
.width-33 {
  float: left;
  width: 33%;
  box-sizing: border-box;
}
.width-30 {
  float: left;
  width: 30%;
  box-sizing: border-box;
}
.width-25 {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.width-20 {
  float: left;
  width: 20%;
  box-sizing: border-box;
}
.width-15 {
  float: left;
  width: 15%;
  box-sizing: border-box;
}
.width-10 {
  float: left;
  width: 10%;
  box-sizing: border-box;
}
.width-5 {
  float: left;
  width: 5%;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.flex-left {
  align-self: flex-start;
}
.flex-right {
  align-self: flex-end;
}
/**
  Common margins
 */
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
/**
  Margin from top
 */
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
/**
  Margin from left
 */
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
/**
  Margin from right
 */
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
/**
  Margin from bottom
 */
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
/**
  Common padding
 */
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/**
  Padding from top
 */
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
/**
  Padding from left
 */
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-20 {
  padding-left: 20px;
}
/**
  Padding from right
 */
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-right-20 {
  padding-right: 20px;
}
/**
  Padding from bottom
 */
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
.btn {
  display: inline-block;
  height: 40px;
  box-sizing: border-box;
  background: transparent;
  font-family: "Open Sans Regular";
  font-size: 14px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.15s linear 0s;
}
.btn:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}
.btn.small {
  width: 40px !important;
  flex-shrink: 0;
}
.btn.round {
  border-radius: 50%;
}
.btn.red {
  border: 1px solid #F44336;
  color: #F44336;
}
.btn.red:hover {
  color: white;
  background: #F44336;
}
.btn.red[disabled] {
  color: #FFCCBC;
  border: 1px solid #FFCCBC;
  cursor: default;
}
.btn.red[disabled]:hover {
  background: transparent;
}
.btn.blue {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.btn.blue:hover {
  background: #2196F3;
  color: white;
}
.btn.blue[disabled] {
  color: #B3E5FC;
  border: 1px solid #B3E5FC;
  cursor: default;
}
.btn.blue[disabled]:hover {
  background: transparent;
}
.btn.green {
  border: 1px solid #4CAF50;
  color: #4CAF50;
}
.btn.green:hover {
  background: #4CAF50;
  color: white;
}
.btn.green[disabled] {
  color: #C8E6C9;
  border: 1px solid #C8E6C9;
  cursor: default;
}
.btn.green[disabled]:hover {
  color: #C8E6C9;
  background: transparent;
}
.btn .fa {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.btn.upload {
  text-align: center;
  line-height: 40px;
}
.btn.upload input[type="file"] {
  display: none;
}
.btn.upload.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: -3px;
  border-radius: 50%;
  background: #8BC34A;
  border: none;
}
.btn.upload.round:hover {
  background: #558B2F;
}
.btn.upload.round .fa {
  font-size: 15px;
  color: white;
}
.combined-input {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.combined-input input {
  flex: 1;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  background: #F4F4F4;
  border: 1px solid transparent !important;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s linear 0s;
}
.combined-input input:not(first-child) {
  padding-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.combined-input input:not(last-child) {
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.combined-input input:last-child {
  padding-right: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.combined-input select {
  height: 40px;
  width: 300px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  background: #F4F4F4;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s linear 0s;
}
.combined-input .fa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 40px;
  box-sizing: border-box;
  font-size: 17px;
  color: #546E7A;
  background: #F5F5F5;
}
.combined-input .fa:first-child {
  width: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.combined-input .fa:last-child {
  width: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.combined-input .fa.clickable {
  cursor: pointer;
}
.combined-input .fa.clickable:hover {
  color: black;
}
input[type='text'] {
  padding: 10px;
  border: 1px solid #CFD8DC;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
label {
  font-family: "Open Sans Regular";
  font-size: 13px;
  color: #90A4AE;
}
.selectable-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.selectable-input .value {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectable-input .label {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  font-family: "Open Sans Regular";
  font-size: 13px;
  line-height: 13px;
  color: #90A4AE;
}
/* Target landscape tablets, desktops */
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  .combined-input {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-grow: 1;
  }
  .combined-input button {
    height: 35px !important;
  }
  .combined-input input {
    flex-grow: 1;
    height: 35px !important;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans Regular';
    font-size: 15px;
    background: #F5F5F5;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    transition: border 0.2s linear 0s;
  }
  .combined-input input:not(first-child) {
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .combined-input input:not(last-child) {
    padding-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .combined-input input:last-child {
    padding-right: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .combined-input .fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 17px;
    color: #546E7A;
    background: #F5F5F5;
  }
  .combined-input .fa:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .combined-input .fa:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.modal-header {
  background: #3DB8DA !important;
}
.modal-content {
  font-family: "Open Sans Regular";
  font-size: 14px;
}
