/**
  Common margins
 */
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
/**
  Margin from top
 */
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
/**
  Margin from left
 */
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
/**
  Margin from right
 */
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
/**
  Margin from bottom
 */
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
button {
  display: inline-block;
  height: 40px;
  background: transparent;
  font-family: "Open Sans Regular";
  font-size: 14px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.15s linear 0s;
}
button:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}
button.small {
  width: 40px;
}
button.red {
  border: 1px solid #F44336;
  color: #F44336;
}
button.red:hover {
  color: white;
  background: #F44336;
}
button.blue {
  border: 1px solid #2196F3;
  color: #2196F3;
}
button.blue:hover {
  background: #2196F3;
  color: white;
}
button .fa {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #80CBC4;
}
.combined-input {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-grow: 1;
}
.combined-input input {
  flex-grow: 1;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  background: #F5F5F5;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s linear 0s;
}
.combined-input input:not(first-child) {
  padding-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.combined-input input:not(last-child) {
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.combined-input input:last-child {
  padding-right: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.combined-input .fa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 17px;
  color: #546E7A;
  background: #F5F5F5;
}
.combined-input .fa:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.combined-input .fa:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
