.auth-component {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}
.auth-form {
  z-index: 101;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: auto;
  padding: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  transform: scale(0.1);
}
.auth-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auth-form .form-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: -70px;
  margin-bottom: 20px;
  background: #3DB8DA;
  border-radius: 50%;
}
.auth-form .form-icon .fa {
  font-size: 70px;
  color: white;
}
.auth-form .form-title {
  font-family: "Open Sans Regular";
  font-size: 18px;
  color: #00838F;
  text-transform: uppercase;
  text-align: center;
}
.auth-form .form-error {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  font-family: "Open Sans Regular";
  font-size: 14px;
  color: #E53935;
  background: #FFCDD2;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
