<div class="auth-component" [@fog]="opened.toString()" *ngIf="opened"></div>

<div class="auth-form" [@popup]="opened.toString()" *ngIf="opened">
    <div class="form-icon">
        <i class="fa fa-user"></i>
    </div>
    <form novalidate>
        <div class="form-title margin-bottom-20">
            Авторизация
        </div>
        <div class="combined-input margin-bottom-10">
            <i class="fa fa-user"></i>
            <input type="text" name="account" id="user-account" placeholder="Введите учетную запись" [(ngModel)]="account">
        </div>
        <div class="combined-input margin-bottom-20">
            <i class="fa fa-key"></i>
            <input type="password" name="password" id="user-password" placeholder="Введите пароль" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn blue margin-bottom-5" [disabled]="account === '' || password === ''" (click)="send()">Войти</button>
        <button type="button" class="btn red" (click)="close()">Отмена</button>
    </form>
</div>
