.division-tree-item-component {
  display: flex;
  flex-direction: column;
  //width: 350px;
  //margin-bottom: 10px;
  //padding-top: 5px;
  //padding-bottom: 5px;



  .item-details {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    //padding: 0px 0px;
    //margin-left: 10px;
    //margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border-left: 0px solid transparent;
    //border-bottom: 1px solid #E6EEF4;
    cursor: pointer;

    * {
      pointer-events: none;
    }


    &:hover {
      margin-left: 0px;
      margin-right: 0px;
      //padding-right: 10px;
      //padding-left: 20px;
      background: #E6EEF4;

      .arrow {
        //border-top: 1px solid #DEEDF7;
      }
    }


    &.drag-over {
      background: #FFECB3;
    }


    &.nested {
      &:hover {
        .title {
          border-bottom: 1px solid transparent !important;
        }
      }
    }

    &.last {
      .title {
        border-bottom: 1px solid transparent !important;
      }
    }


    .title {
      padding-bottom: 10px;
      //margin-left: 10px;
      border-bottom: 1px solid #E6EEF4;
    }

    &.selected {
      background: #DEEDF7;
      margin-right: 0px;
      margin-left: 0px;
      //border-left: 4px solid #8CAEC6;
      //border-bottom: 2px solid #CADFEE;
      .title {
          //font-family: 'Open Sans Semi Bold';
        border-bottom: 1px solid transparent !important;
      }
    }

    .arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 25px;
      //margin-right: 5px;
      padding-bottom: 10px;
      box-sizing: border-box;
      font-size: 14px;
      color: #8CAEC6;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;
      font-family: 'Open Sans Regular';
      font-size: 14px;
      line-height: 14px;
    }
  }

  .item-children {
    //padding-top: 10px;
    //padding-bottom: 10px;
    //border-left: 4px solid transparent;
    //transition: max-height 0.3s linear 0s;


    &.selected {
      background: #EDF3F7;
      //border-left: 4px solid #C7D2D8;
      border-bottom: 1px solid #E1ECF4;
      border-top: 1px solid #D0E1ED;
      //-webkit-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.33);
      //-moz-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.33);
      //box-shadow: inset 0px 10px 4px -10px rgba(0, 0, 0, 0.25);


      .item-details {
          border-bottom: 1px solid transparent;
        .title {
          border-bottom: 1px solid #DEEAF2;
        }

          //&:not(last-child) {
          //  border: 1px solid red;
          //}

        .item-details:last-of-type {
          .title {
            //border-bottom: 1px solid transparent;
            //border: 1px solid red;
          }
          border: 1px solid red;
        }

      }
    }
  }
}