.photo-editor-component {

  .wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
   //width: 500px;
    //height: 350px;
    //border: 1px solid lightgrey;
    box-sizing: border-box;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto;
    &.blank {
      background-size: contain !important;
      background-position: center center !important;
    }
    &.with-photo {
      //background-size: contain !important;
      //background-position: top center !important;
    }

    .clipper-wrapper {
      z-index: 5;
      overflow: hidden;
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      height: 80%;
      box-sizing: border-box;
      //background: rgba(0, 0, 0, 0.2);
      //border: 1px solid red;


    }
  }


  .clipper {
    position: absolute;
    z-index: 2;
    box-sizing: content-box;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    box-shadow: inset 0px 0px 0px 1px white;
    cursor: move;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    .zoom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      input[type='range'] {
        width: 90%;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

}