<div id="app-header">
    <input type="text" name="" id="" placeholder="Введите имя абонента, телефон или e-mail">
    <button type="button" class="favorites">
        <i class="fa fa-star"></i>
    </button>
    <button type="button">
        <i class="fa fa-sign-in"></i>
    </button>
</div>
<div id="app-divisions"></div>
<div id="app-content-wrapper">

    <div id="app-contacts">
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
        <contact></contact>
    </div>
</div>
