<stub *ngIf="phoneBook.getContactGroupList().length === 0 && !phoneBook.isLoadingInProgress()" [icon]="'fa-building'" [text]="'Выберите структурное подразделение'"></stub>
<stub *ngIf="phoneBook.isLoadingInProgress() === true" [icon]="'fa-spinner fa-spin'" [text]="'Загрузка...'"></stub>
<div id="app-contacts">
    <contact-group [group]="group"
                   [margin]="margin"
                   [row]="row"
                   *ngFor="let group of phoneBook.getContactGroupList(); trackBy: index | async">
    </contact-group>
</div>