.typeahead-component {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}
.typeahead-component .input {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.typeahead-component .input input[type='text'] {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.typeahead-component .options {
  overflow: hidden;
  z-index: 120;
  position: absolute;
  top: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  background: #FAFAFA;
  border: 1px solid #ECEFF1;
  border-top: none;
  border-bottom: 1px solid #ECEFF1;
  /*
    .option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background: #F5F5F5;
      }

      &:nth-last-child {
        border-bottom: none;
      }
    }
    */
}
