<div class="contact"
     [ngClass]="{ 'first' : index === 0, 'second': index > 0 && (index + 1) % 2 === 0, 'third' : index > 0 && (index + 1) % 3 === 0, 'fourth': index > 0 && (index + 1) % 4 === 0, 'fifth' : index > 0 && (index + 1) % 5 === 0, 'sixth' : index > 0 && (index + 1) % 6 === 0 }">
    <div class="contact-info">

        <div id="photo"
             [ngClass]="{'no-photo': contact.photo === '', 'with-photo': contact.photo !== ''}"
             [ngStyle]="
                {
                    'background': contact.photo !== '' ? 'url(http://10.50.0.153:4444' + contact.photo +  ')' : 'url(http://10.50.0.153:4444/assets/images/users/no_photo.png) top center',
                    'background-size': contact.photoZoom !== 0 ? contact.photoZoom + '%' : 'contain !important'
                }">


            <div class="user-controls">
                <i class="control favorites fa fa-star" *ngIf="session.user" [ngClass]="{'in-favorites': contact.isInFavorites === true}"
                   title="{{ contact.isInFavorites ? 'Убрать абонента из избранных' : 'Добавить абонента в избранные' }}"
                   (click)="favorites()">
                </i>
            </div>

            <div class="expand" (click)="showContactInfo()" *ngIf="!isPhotoUploading">
                <i class="fa fa-search-plus"></i>
            </div>

            <div class="loading" *ngIf="isPhotoUploading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>


            <div class="editor-controls">
                <button class="btn blue round"
                        *ngIf="session.user && session.user.isAdministrator"
                        (click)="editContact()"
                        title="Редактировать данные абонента">
                    <i class="fa fa-pencil"></i>
                </button>
                <label class="btn blue round file"
                       title="Загрузить фотографию"
                       *ngIf="session.user && session.user.isAdministrator && !isPhotoUploading">
                    <i class="fa fa-camera"></i>
                    <input type="file" name="photo" id="user-photo" encType="multipart/form-data" (change)="uploadPhoto($event)">
                </label>
                <!--
                <button class="btn blue round small"
                        *ngIf="session.user && session.user.isAdministrator && contact.photo !== ''"
                        (click)="editContactPhoto()"
                        title="Кадрировать фотографию абонента">
                    <i class="fa fa-sliders"></i>
                </button>
                -->
                <button class="btn red round"
                        *ngIf="session.user && session.user.isAdministrator"
                        (click)="deleteContact(contact)"
                        title="Удалить абонента">
                    <i class="fa fa-trash"></i>
                </button>
            </div>




        </div>


        <div id="name-and-position">
            <div class="surname">{{ contact._backupData.surname }}</div>
            <div class="name">{{ contact._backupData.name + ' ' + contact._backupData.fname }}</div>
            <div class="position" title="{{ contact._backupData.position }}">{{ contact._backupData.positionTrimmed }}</div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="contact-details">
        <div class="detail">
            <i class="fa fa-phone" title="Контактный телефон">
                <span class="badge"
                      *ngIf="contact.phones.length > 2"
                      title="Отображены не все телефоны абонента, для просмотра всех телефонов откройте карточку абонента">
                    {{contact.phones.length}}
                </span>
            </i>
            <span class="detail-item" *ngFor="let phone of contact.visiblePhones; last as isLast">
                {{ phone.title }}
                <i class="separator fa fa-circle" *ngIf="!isLast"></i>
            </span>
            <span class="not-specified" *ngIf="contact.phones.length === 0">Телефон не указан</span>
        </div>
        <div class="detail">
            <i class="fa fa-mobile-phone" title="Мобильный телефон"></i>
            {{ contact._backupData.mobile }}
            <span class="not-specified" *ngIf="contact._backupData.mobile === ''">Моб. телефон не указан</span>
        </div>
        <div class="detail">
            <i class="fa fa-at" title="Электронная почта"></i>
            <a href="mailto:{{ contact._backupData.email}}">{{ contact._backupData.email }}</a>
            <span class="not-specified" *ngIf="contact._backupData.email === ''">E-mail не указан</span>
        </div>
        <div class="detail">
            <i class="fa fa-map-marker" title="Метоположение"></i>
            <span *ngIf="contact.room">Кабинет {{ contact.room }}</span>
            <span class="not-specified" *ngIf="!contact.room">Местоположение не указано</span>
        </div>
    </div>
</div>