@contact-width: 260px;
@contact-width-mobile: 100%;
@contact-height: auto;
@contact-background-color: white;

//@contact-photo-width: 120px;
//@contact-photo-image-width: 120px;
@contact-photo-width: 100%;
@contact-photo-image-width: 100%;
@contacts-photo-image-border-color: lightgrey;

@favorite-icon-color-hover: #FFC107;

@separator-color: #ECEFF1;

.contact {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  width: @contact-width;
  //padding-bottom: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-right: 1px solid #ECEFF1;
  border-left: 1px solid #ECEFF1;
  border-bottom: 2px solid #ECEFF1;
  border-top: 1px solid #ECEFF1;
  //border-bottom: 1px solid @separator-color;
  background: @contact-background-color;
  //border-radius: 3px;
  //box-shadow: 0 0.8px 2px 0 rgba(0, 0, 0, 0.14);
  //transition: margin-right 0.1s linear 0s;


  &.two-in-row {
    &.second {
      margin-right: 0px !important;
      //border: 1px solid red !important;
    }
  }

  &.three-in-row {
    &.third {
      margin-right: 0px !important;
      //border: 1px solid red !important;
    }
  }

  &.four-in-row {
    &.fourth {
      margin-right: 0px !important;
      //border: 1px solid red !important;
    }
  }

  &.five-in-row {
    &.fifth {
      margin-right: 0px !important;
      //border: 1px solid red !important;
    }
  }

  &.six-in-row {
    &.sixth {
      margin-right: 0px !important;
      //border: 1px solid red !important;
    }
  }

  .contact-menu {
    z-index: 5;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border: 1px solid red;

    .btn {
      width: 100%;
    }
  }

  .contact-info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    //height: @contact-photo-width;
    //margin-bottom: 10px;
    //padding: 10px;
    padding-bottom: 0px !important;
    box-sizing: border-box;

    /* Элементы управления контактом */
    #contact-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .fa {
        font-size: 20px;
        color: #EEEEEE;
        cursor: pointer;
        &:hover {
          color: #BDBDBD;
        }
      }

      .favorites {
        margin: 20px;
        &:hover {
          color: @favorite-icon-color-hover;
        }
        &.in-favorites {
            color: @favorite-icon-color-hover;
        }
      }
    }


    /* Фото контакта */


      #photo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: center;
        width: @contact-photo-image-width;
        //height: @contact-photo-image-width;
        height: 140px;
        //margin-top: -20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-size: 200% !important;
        background-repeat: no-repeat !important;
        //background-position: center top !important;
        //background-origin: content-box !important;
        //border-radius: 50%;

        &.with-photo {
          &:hover {
            //position: absolute;
            //top: 0px;
            //left: 0px;
            //right: 0px;
            //bottom: 0px;
            //width: 100%;
            //height: 230px;
            //margin-top: 0px;
            //border-radius: 0px;
            //#contact-upload-photo-button {
              //display: none;
            //}
          }
        }

        &.no-photo {
          background-position: center center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
          //border: 1px solid @separator-color;
          //border-bottom: 1px solid @separator-color;
          //border-top: 1px solid @separator-color;
        }

        .control {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-size: 15px;
          color: white;
          background: #8BC34A;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background: #558B2F;
          }

          &.favorites {
            left: 0px;
            top: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 18px;
            background: rgba(0, 0, 0, 0.3);
            &:hover {
              color: @favorite-icon-color-hover;
            }
            &.in-favorites {
              color: @favorite-icon-color-hover;
            }
          }

          &.edit {
            right: 0px;
            top: 0px;
            margin-top: 10px;
            margin-right: 10px;
          }

          &.photo {
            bottom: 0px;
            left: 10px;
          }
        }

      }


    /* Имя и должность */
    #name-and-position {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;


      .surname {
        height: 14px;
        max-height: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans Semi Bold';
        font-size: 14px;
        line-height: 15px;
        color: black;
      }

      .name {
        height: 14px;
        max-height: 15px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans Regular';
        font-size: 14px;
        line-height: 15px;
      }

      .position {
        height: 28px;
        max-height: 28px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans Italic';
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #B71C1C;
      }

      .separator {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid @separator-color;
      }
    }

  }

  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 20px;
    padding-top: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    .not-specified {
      font-size: 14px;
      color: #B0BEC5;
    }

    .surname {
      height: 15px;
      max-height: 15px;
      font-family: 'Open Sans Semi Bold';
      font-size: 15px;
      line-height: 15px;
      color: black;
    }

    .name {
      height: 15px;
      max-height: 15px;
      margin-bottom: 7px;
      font-family: 'Open Sans Regular';
      font-size: 15px;
      line-height: 15px;
    }

    .position {
      height: 28px;
      max-height: 28px;
      font-family: 'Open Sans Italic';
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #D81B60;
    }

    .separator {
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
      border-top: 1px solid @separator-color;
    }

    .email {
      display: flex;
      flex-shrink: 0;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      font-family: 'Open Sans Regular';
      font-size: 14px;

      a {
        color: #039BE5;
        &:hover {
          color: #01579B;
        }
      }

      .fa {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        font-size: 15px;
        line-height: 23px;
        color: #004D40;
        text-align: center;
        background: #D1C4E9;
        border-radius: 50%;
      }
    }

    .phones {
      display: flex;
      width: 100%;
      flex-shrink: 0;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 5px;
      font-family: 'Open Sans Regular';
      font-size: 14px;

      .fa {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        font-size: 15px;
        line-height: 23px;
        color: #004D40;
        text-align: center;
        background: #D1C4E9;
        border-radius: 50%;
      }

      .phone-item {
        margin-right: 7px;
        font-family: 'Open Sans Regular';
        font-size: 14px;
        &:nth-last-child {
          margin-right: 0px;
        }
      }
    }

    .mobile {
      display: flex;
      width: 100%;
      flex-shrink: 0;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 5px;
      font-family: 'Open Sans Regular';
      font-size: 14px;

      .fa {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        font-size: 16px;
        line-height: 23px;
        color: #004D40;
        text-align: center;
        background: #D1C4E9;
        border-radius: 50%;
      }

    }
  }
}



/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  .contact {
    float: none;
    width: 100%;
  }


}


/* Target landscape tablets, desktops */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .contact {
    //width: 49%;
  }
}


/* Target landscape tablets, desktops */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .contact {
    //width: 33%;
  }
}


/* Target landscape tablets, desktops */
@media screen and (min-width: 1400px) and (max-width: 1800px) {
  .contact {
    //width: 30%;
  }
}


/* Target landscape tablets, desktops */
@media screen and (min-width: 1800px) {
  .contact {
    //width: 23%;
  }
}
