<div class="contact"
     [ngClass]="{ 'first' : index === 0, 'second': index > 0 && (index + 1) % 2 === 0, 'third' : index > 0 && (index + 1) % 3 === 0, 'fourth': index > 0 && (index + 1) % 4 === 0, 'fifth' : index > 0 && (index + 1) % 5 === 0, 'sixth' : index > 0 && (index + 1) % 6 === 0 }">
    <div class="contact-menu">
        <div class="margin-bottom-10">
            <button class="btn blue">Загрузить фото</button>
        </div>
    </div>
    <div class="contact-info">
        <div id="contact-controls">
            <i class="favorites fa fa-star" [ngClass]="{ 'in-favorites': contact.isInFavorites === true }"
               title="{{ contact.isInFavorites ? 'Убрать из избранных' : 'Добавить в избранные' }}"
               (click)="favorites()">
            </i>

            <!-- Кнопка редактирования информации о контакте -->
            <i class="fa fa-ellipsis-v" *ngIf="session.user() && session.user().isAdministrator" (click)="editContact()" title="Редактировать контакт"></i>
        </div>


        <div id="photo"
             [ngClass]="{ 'no-photo': contact.photo === '', 'with-photo': contact.photo !== '' }"
             [ngStyle]="{ 'background': contact.photo !== '' ? 'url(http://127.0.0.1:4444' + contact.photo +  ')': 'url(http://127.0.0.1:4444/assets/images/users/no_photo.png)' }">
            <label id="contact-upload-photo-button"
                   class="btn blue upload round margin-bottom-10"
                   *ngIf="session.user() && session.user().isAdministrator">
                <i class="fa fa-camera"></i>
                <input type="file"
                       name="photo"
                       id="user-photo"
                       encType="multipart/form-data"
                       (change)="uploadPhoto($event)">
            </label>
        </div>


        <div id="name-and-position">
            <div class="surname">{{ contact._backupData.surname }}</div>
            <div class="name">{{ contact._backupData.name + ' ' + contact._backupData.fname }}</div>
            <div class="position" title="{{ contact._backupData.position }}">{{ contact._backupData.positionTrimmed }}</div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="contact-details">
        <!--
        <div class="surname">{{ contact.surname }}</div>
        <div class="name">{{ contact.name + ' ' + contact.fname }}</div>
        <div class="position" [text-overflow]="50">{{ contact.position }}</div>
        <div class="separator"></div>
        -->
        <div class="phones">
            <i class="fa fa-phone"></i>
            <span class="phone-item" *ngFor="let phone of contact.phones">{{ phone._backupData.number }}</span>
            <span class="not-specified" *ngIf="contact.phones.length === 0">Телефон не указан</span>
        </div>
        <div class="mobile">
            <i class="fa fa-mobile-phone"></i>
            {{ contact._backupData.mobile }}
            <span class="not-specified" *ngIf="contact._backupData.mobile === ''">Моб. телефон не указан</span>
        </div>
        <div class="email">
            <i class="fa fa-at"></i>
            <a href="mailto:{{contact._backupData.email}}">{{ contact._backupData.email }}</a>
            <span class="not-specified" *ngIf="contact._backupData.email === ''">E-mail не указан</span>
        </div>
    </div>
</div>