.contact {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-right: 1px solid #ECEFF1;
  border-left: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  border-top: 1px solid #ECEFF1;
  background: white;
}
.contact.two-in-row.second {
  margin-right: 0px !important;
}
.contact.three-in-row.third {
  margin-right: 0px !important;
}
.contact.four-in-row.fourth {
  margin-right: 0px !important;
}
.contact.five-in-row.fifth {
  margin-right: 0px !important;
}
.contact.six-in-row.sixth {
  margin-right: 0px !important;
}
.contact .contact-menu {
  z-index: 5;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border: 1px solid red;
}
.contact .contact-menu .btn {
  width: 100%;
}
.contact .contact-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0px !important;
  box-sizing: border-box;
  /* Элементы управления контактом */
  /* Фото контакта */
  /* Имя и должность */
}
.contact .contact-info #contact-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.contact .contact-info #contact-controls .fa {
  font-size: 20px;
  color: #EEEEEE;
  cursor: pointer;
}
.contact .contact-info #contact-controls .fa:hover {
  color: #BDBDBD;
}
.contact .contact-info #contact-controls .favorites {
  margin: 20px;
}
.contact .contact-info #contact-controls .favorites:hover {
  color: #FFC107;
}
.contact .contact-info #contact-controls .favorites.in-favorites {
  color: #FFC107;
}
.contact .contact-info #photo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: center;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-size: cover !important;
  background-position: center top !important;
  background-origin: content-box !important;
}
.contact .contact-info #photo.no-photo {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.contact .contact-info #photo .control {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  background: #8BC34A;
  border-radius: 50%;
  cursor: pointer;
}
.contact .contact-info #photo .control:hover {
  background: #558B2F;
}
.contact .contact-info #photo .control.favorites {
  left: 0px;
  top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.3);
}
.contact .contact-info #photo .control.favorites:hover {
  color: #FFC107;
}
.contact .contact-info #photo .control.favorites.in-favorites {
  color: #FFC107;
}
.contact .contact-info #photo .control.edit {
  right: 0px;
  top: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
.contact .contact-info #photo .control.photo {
  bottom: 0px;
  left: 10px;
}
.contact .contact-info #name-and-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact .contact-info #name-and-position .surname {
  height: 15px;
  max-height: 15px;
  font-family: 'Open Sans Semi Bold';
  font-size: 15px;
  line-height: 15px;
  color: black;
}
.contact .contact-info #name-and-position .name {
  height: 15px;
  max-height: 15px;
  margin-bottom: 7px;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  line-height: 15px;
}
.contact .contact-info #name-and-position .position {
  height: 28px;
  max-height: 28px;
  font-family: 'Open Sans Italic';
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #B71C1C;
}
.contact .contact-info #name-and-position .separator {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ECEFF1;
}
.contact .contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.contact .contact-details .not-specified {
  font-size: 14px;
  color: #B0BEC5;
}
.contact .contact-details .surname {
  height: 15px;
  max-height: 15px;
  font-family: 'Open Sans Semi Bold';
  font-size: 15px;
  line-height: 15px;
  color: black;
}
.contact .contact-details .name {
  height: 15px;
  max-height: 15px;
  margin-bottom: 7px;
  font-family: 'Open Sans Regular';
  font-size: 15px;
  line-height: 15px;
}
.contact .contact-details .position {
  height: 28px;
  max-height: 28px;
  font-family: 'Open Sans Italic';
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #D81B60;
}
.contact .contact-details .separator {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ECEFF1;
}
.contact .contact-details .email {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Open Sans Regular';
  font-size: 14px;
}
.contact .contact-details .email a {
  color: #039BE5;
}
.contact .contact-details .email a:hover {
  color: #01579B;
}
.contact .contact-details .email .fa {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 23px;
  color: #004D40;
  text-align: center;
  background: #D1C4E9;
  border-radius: 50%;
}
.contact .contact-details .phones {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
}
.contact .contact-details .phones .fa {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 23px;
  color: #004D40;
  text-align: center;
  background: #D1C4E9;
  border-radius: 50%;
}
.contact .contact-details .phones .phone-item {
  margin-right: 5px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
}
.contact .contact-details .mobile {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
}
.contact .contact-details .mobile .fa {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 23px;
  color: #004D40;
  text-align: center;
  background: #D1C4E9;
  border-radius: 50%;
}
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  .contact {
    float: none;
    width: 100%;
  }
}
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
