.contact {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.contact.two-in-row.second {
  margin-right: 0px !important;
}
.contact.three-in-row.third {
  margin-right: 0px !important;
}
.contact.four-in-row.fourth {
  margin-right: 0px !important;
}
.contact.five-in-row.fifth {
  margin-right: 0px !important;
}
.contact.six-in-row.sixth {
  margin-right: 0px !important;
}
.contact .contact-menu {
  z-index: 5;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border: 1px solid red;
}
.contact .contact-menu .btn {
  width: 100%;
}
.contact .contact-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0px !important;
  box-sizing: border-box;
  /* Элементы управления контактом */
  /* Фото контакта */
  /* Имя и должность */
}
.contact .contact-info #contact-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.contact .contact-info #contact-controls .fa {
  font-size: 20px;
  color: #EEEEEE;
  cursor: pointer;
}
.contact .contact-info #contact-controls .fa:hover {
  color: #BDBDBD;
}
.contact .contact-info #contact-controls .favorites {
  margin: 20px;
}
.contact .contact-info #contact-controls .favorites:hover {
  color: #FFC107;
}
.contact .contact-info #contact-controls .favorites.in-favorites {
  color: #FFC107;
}
.contact .contact-info #photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  align-self: center;
  width: 100%;
  height: 173px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-repeat: no-repeat !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact .contact-info #photo:hover .expand {
  display: flex;
}
.contact .contact-info #photo.with-photo {
  background-size: cover !important;
}
.contact .contact-info #photo.no-photo {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border-bottom: 1px solid #F5F5F5;
}
.contact .contact-info #photo .user-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.contact .contact-info #photo .editor-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.contact .contact-info #photo .expand {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 115px;
  height: 115px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.contact .contact-info #photo .expand .fa {
  font-size: 45px;
  color: #FAFAFA;
}
.contact .contact-info #photo .loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 115px;
  height: 115px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.contact .contact-info #photo .loading .fa {
  font-size: 45px;
  color: #FAFAFA;
}
.contact .contact-info #photo .control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  background: #8BC34A;
  border-radius: 50%;
  cursor: pointer;
}
.contact .contact-info #photo .control:hover {
  background: #558B2F;
}
.contact .contact-info #photo .control.favorites {
  font-size: 18px;
  color: rgba(102, 153, 204, 0.4);
  background: transparent;
}
.contact .contact-info #photo .control.favorites:hover {
  color: #FFC107;
}
.contact .contact-info #photo .control.favorites.in-favorites {
  color: #FFC107;
}
.contact .contact-info #name-and-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact .contact-info #name-and-position .surname {
  height: 14px;
  max-height: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  line-height: 15px;
  color: black;
}
.contact .contact-info #name-and-position .name {
  height: 14px;
  max-height: 15px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  line-height: 15px;
}
.contact .contact-info #name-and-position .position {
  width: 100%;
  height: 28px;
  max-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans Italic';
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #B71C1C;
}
.contact .contact-info #name-and-position .separator {
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #ECEFF1;
}
.contact .contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.contact .contact-details .not-specified {
  font-size: 14px;
  color: #B0BEC5;
}
.contact .contact-details .detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 23px;
  font-family: 'Open Sans Regular';
  font-size: 14px;
}
.contact .contact-details .detail .fa {
  width: 20px;
  height: 23px;
  margin-right: 10px;
  font-size: 17px;
  line-height: 23px;
  color: #0097A7;
  text-align: center;
}
.contact .contact-details .detail .fa .badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-top: -25px;
  margin-left: 10px;
  font-family: "Open Sans Semi Bold";
  font-size: 10px;
  line-height: 12px;
  color: #0097A7;
}
.contact .contact-details .detail .detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact .contact-details .detail .detail-item .separator {
  display: flex;
  width: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 7px;
  color: #B0BEC5;
}
.contact .contact-details .detail a {
  color: #29B6F6;
}
.contact .contact-details .detail a:hover {
  color: #0288D1;
}
/* Target landscape smartphones, portrait tablets, narrow desktops */
@media screen and (min-width: 320px) and (max-width: 800px) {
  .contact {
    float: none;
    width: 100%;
  }
}
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
/* Target landscape tablets, desktops */
