.typeahead-option-component {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  right: 0px;
  width: 100%;
  cursor: pointer;
}
.typeahead-option-component:hover {
  background: #EEEEEE;
}
.typeahead-option-component .typeahead-option {
  position: relative;
  display: flex;
  width: 100%;
}
.typeahead-option {
  overflow: hidden;
  position: static;
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.typeahead-option:hover {
  background: #EEEEEE;
}
