#app-favorite-contacts {
  box-sizing: border-box;
}
#app-favorite-contacts #app-favorites-caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semi Bold';
  text-transform: uppercase;
  font-size: 15px;
  color: #78909C;
}
#app-favorite-contacts #app-favorites-caption .caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  padding-right: 20px !important;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 1px #BDBDBD;
  background: #EEEEEE;
  border-radius: 25px;
}
#app-favorite-contacts #app-favorites-caption .caption .fa {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-size: 25px;
  line-height: 40px;
  color: #FFC107;
  text-align: center;
  border-radius: 50%;
  text-shadow: none;
}
