<div id="user-account" [ngClass]="{'no-photo': !session.user.photo}">
    <div id="user-name-caption" *ngIf="session.user">
        {{ session.user.name + ' ' + session.user.fname + ' ' + session.user.surname }}
    </div>
    <!--
    <div class="notification row margin-bottom-20">
        <i class="fa fa-bell"></i>
        <span class="title">
            Ваше местоположение не указано. Чтобы другие абоненты знали в каком кабинете Вы находитесь,
            укажите, пожалуйста, Ваше местоположение.
        </span>
    </div>
    <div class="notification row margin-bottom-20">
        <i class="fa fa-bell"></i>
        <span class="title">
            Ваше местоположение не указано. Чтобы другие абоненты знали в каком кабинете Вы находитесь,
            укажите, пожалуйста, Ваше местоположение.
        </span>
    </div>
    -->
    <div id="user-photo-and-menu">
        <div id="user-photo">
            <div id="photo" [ngStyle]="{'background': session.user.photo ? 'url(http://10.50.0.153:4444' + session.user.photo + ')' : 'http://10.50.0.153:4444/assets/images/users/no_photo.png'}"></div>
        </div>
        <div id="user-menu">
            <!-- Кнопка скачивания фото пользователя -->
            <a [href]="session.user.photo"
               class="btn medium blue width-100 margin-bottom-15"
               *ngIf="session.user.photo">
                Скачать фотографию
            </a>
            <!-- Кнопка отправки фото абонента -->
            <label class="btn medium width-100 blue file margin-bottom-15">
                Загрузить фотографию
                <input type="file" name="photo" encType="multipart/form-data" (change)="uploadPhoto($event)">
            </label>
            <button class="btn medium blue badged width-100 margin-bottom-15" (click)="location.open()">
                Указать местоположение
                <!--<span class="badge"><i class="fa fa-bell"></i></span>-->
            </button>
            <button class="btn medium blue badged width-100 margin-bottom-15" (click)="feedback.open()">Отправить сообщение</button>
            <button class="btn medium width-100 red" (click)="logOut()">Выйти из учетной записи</button>
        </div>
    </div>
</div>


<!-- Модальное окно с уведомлением об успешной загрузке фото абонента -->
<modal [id]="'photo-upload-success-modal'"
       [header]="false"
       [width]="420"
       [height]="180">
    <div class="padding-20">
        <b>Фотография загружена!</b><br><br>
        После проверки администратором Ваша фотография будет размещена в телефонном справочнике.<br>
        <div class="row horizontal-center padding-top-20">
            <button class="btn medium blue width-30" (click)="closeUploadPhotoSuccessModal()">Закрыть</button>
        </div>
    </div>
</modal>


<!-- Модальное окно установки местоположения пользователя -->
<modal [id]="'user-location-modal'"
       [caption]="'Укажите ваше местоположение'"
       [icon]="'fa fa-map-marker'"
       [width]="420"
       [height]="290"
       (onClose)="location.close(locationForm)">
    <div class="column width-100">
        <form class="form-layout" novalidate #locationForm="ngForm">
            <div class="content width-100 padding-20">
                <div class="column margin-bottom-15">
                    <label for="user-location-office">Офис</label>
                    <select name="office" id="user-location-office" class="inp medium outline blue" [(ngModel)]="session.user.officeId">
                        <option *ngFor="let office of phoneBook.offices" [value]="office.id">{{ office.address }}</option>
                    </select>
                </div>
                <div class="column">
                    <label for="user-location-room">
                        Кабинет
                        <span class="form-error" *ngIf="room.dirty && room.invalid">Вы не указали кабинет</span>
                    </label>
                    <input type="text"
                           name="room"
                           id="user-location-room"
                           class="inp medium outline blue"
                           placeholder="Введите номер кабинета"
                           [(ngModel)]="session.user.room"
                           [ngClass]="{'red': room.invalid && room.dirty}"
                           #room="ngModel"
                           required
                    />
                </div>
            </div>
            <div class="footer row width-100 padding-top-10 padding-bottom-10 padding-left-20 padding-right-20">
                <button type="submit"
                        class="btn green medium width-50 margin-right-5"
                        [disabled]="locationForm.invalid || locationForm.pristine"
                        (click)="location.send(locationForm)">
                    <i class="fa fa-check margin-right-10"></i>
                    Сохранить
                </button>
                <button class="btn red medium width-50 margin-left-5"
                        (click)="modals.get('user-location-modal').close()">
                    <i class="fa fa-ban margin-right-10"></i>
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>


<!-- Модальное окно отправки сообщения обратной связи -->
<modal [id]="'feedback-modal'"
       [caption]="'Обратная связь'"
       [icon]="'fa fa-envelope'"
       [width]="420"
       [height]="420"
       (onClose)="feedback.close(feedbackForm)">
    <div class="column width-100">
        <form class="form-layout" novalidate #feedbackForm="ngForm">
            <div class="content width-100 padding-20">
                <div class="column margin-bottom-15">
                    <label for="feedback-message-theme">Тема сообщения</label>
                    <select name="theme" id="feedback-message-theme" class="inp medium outline blue" [(ngModel)]="feedback.message.themeId">
                        <option *ngFor="let theme of feedback.themes" [value]="theme.id">{{ theme.title }}</option>
                    </select>
                </div>
                <div class="column">
                    <label for="feedback-message-text">
                        Текст сообщения
                        <span class="form-error" *ngIf="message.dirty && message.invalid">Вы не написали сообщение</span>
                    </label>
                    <textarea name="message"
                              id="feedback-message-text"
                              class="blue"
                              cols="30"
                              rows="11"
                              placeholder="Опишите, пожалуйста, Вашу проблему или пожелание максимально развернуто"
                              [(ngModel)]="feedback.message.message"
                              #message="ngModel"
                              required>
                </textarea>
                </div>
            </div>
            <div class="footer row width-100 padding-10">
                <button type="submit"
                        class="btn green medium width-50 margin-right-5"
                        [disabled]="feedbackForm.invalid"
                    (click)="feedback.send(feedbackForm)">
                    <i class="fa fa-check margin-right-10"></i>
                    Отправить
                </button>
                <button class="btn red medium width-50 margin-left-5"
                        (click)="modals.get('feedback-modal').close()">
                    <i class="fa fa-ban margin-right-10"></i>
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>
