<div id="user-account" class="padding-20">
    <div class="user-name" *ngIf="session.user">{{ session.user.name + ' ' + session.user.fname + ' ' + session.user.surname }}</div>
    <div class="user-details" [ngClass]="{'with-photo': session.user.photo !== '', 'no-photo': session.user.photo === ''}">
        <div id="photo" class="width-50" *ngIf="session.user && session.user.photo !== ''">
            <div class="user-photo"
                 [ngClass]="{'with-photo': session.user && session.user.photo !== '', 'no-photo': session.user.photo === ''}"
                 [ngStyle]="{'background': session.user && session.user.photo !== '' ? 'url(http://10.50.0.153:4444' + session.user.photo + ')' : ''}">
            </div>
        </div>
        <div id="controls" class="column width-50">

            <label class="btn medium width-100 blue file margin-bottom-10">
                Загрузить фотографию
                <input type="file" name="photo" id="user-photo" encType="multipart/form-data" (change)="uploadPhoto($event)">
            </label>

            <!--<button class="btn medium width-100 blue margin-bottom-10">Кадрировать фотографию</button>-->

            <button class="btn medium width-100 red" (click)="logOut()">Выйти из учетной записи</button>
        </div>
    </div>
</div>