<!-- Заглушка на случай если не выбрано структурное подразделение -->
<stub *ngIf="contacts.searchQuery === '' && !contacts.isLoading && !contacts.isSearching && !divisions.selected() && contacts.total() === 0"
      [icon]="'fa-building'"
      [text]="'Выберите структурное подразделение'">
</stub>

<!-- Заглушка для отображения процесса загрузки  -->
<stub *ngIf="contacts.isSearching || contacts.isLoading"
      [icon]="'fa-spinner fa-spin'"
      [text]="'Загрузка...'">
</stub>

<!-- Заглушка для отображения отсутствия результатов поиска -->
<stub *ngIf="contacts.searchQuery !== '' && !contacts.isSearching && !contacts.isLoading && contacts.total() === 0"
      [icon]="'fa-search'"
      [text]="'По Вашему запросу абоненты не найдены'">
</stub>


<div id="app-contacts">
    <!--<div id="app-favorites-list-caption" *ngIf="phoneBook.isInFavoritesMode === true"><i class="fa fa-star"></i>Ваши избранные контакты</div>-->
    <contact-group [group]="group"
                   [margin]="margin"
                   [row]="row"
                   *ngFor="let group of contacts.contacts | async">
    </contact-group>
</div>


<!-- Кнопка добавления нового абонента -->
<div id="new-contact-button"
     *ngIf="phoneBook.allowToAddContacts"
     (click)="openNewContactModal()"
     title="Добавить нового абонента">
    <i class="fa fa-plus"></i>
</div>


<!-- Модальное окно добавления нового абонента -->
<modal [id]="'new-contact-modal'"
       [caption]="'Новый абонент'"
       [icon]="'fa fa-user'"
       [width]="550"
       [height]="contacts.new().user ? 680 : 655"
       [depth]="1"
       (onClose)="closeNewContactModal(newContactForm)">
    <div class="modal-content">
        <form class="column width-100 height-100 vertical-between" #newContactForm="ngForm">
            <div class="width-100">
                <tabs [id]="'new-contact-tabs'">
                    <tab [id]="'contact-details'" [caption]="'Анкета'" [icon]="'fa fa-user'" [width]="50">
                        <div class="column width-100 padding-20">
                            <div class="column margin-bottom-10">
                                <label>Пользователь</label>
                                <typeahead *ngIf="!contacts.new().user" [placeholder]="'Введите имя пользователя'"
                                           [options]="users"
                                           [optionHeight]="50"
                                           [limit]="5"
                                           [loading]="manager.loading"
                                           [selectedOptionText]="'fio'"
                                           (onChange)="onUserSearchChange($event)"
                                           (onSelect)="onUserSearchSelect($event, newContactForm)"
                                           (onReset)="onResetUserSearch()">
                                    <typeahead-option *ngFor="let user of users" [model]="user">
                                        <div class="user-search-option">
                                            <div class="user-photo">
                                                <div class="photo" *ngIf="user.photo" [ngStyle]="{'background': 'url(http://10.50.0.153:4444' + user.photo + ')'}"></div>
                                                <div class="no-photo" *ngIf="!user.photo">{{user.name[0] + user.surname[0]}}</div>
                                            </div>
                                            <div class="user-details">
                                                <span class="name">{{user.fio}}</span>
                                                <span class="position">{{user.position}}</span>
                                            </div>
                                        </div>
                                    </typeahead-option>
                                </typeahead>
                                <div class="new-contact-user" *ngIf="contacts.new().user">
                                    <div class="photo" [ngStyle]="{'background': 'url(http://10.50.0.153:4444' + contacts.new().user.photo + ')'}"></div>
                                    <div class="no-photo" *ngIf="!contacts.new().user.photo">{{ contacts.new().user.name[0] + contacts.new().user.surname[0] }}</div>

                                    <div class="details">
                                        <div class="name">{{ contacts.new().user.fio }}</div>
                                        <div class="position">{{ contacts.new().user.position }}</div>
                                    </div>

                                    <div class="padding-left-10 padding-right-10">
                                        <button class="btn blue round" title="Отвязать пользователя" (click)="clearSelectedContactUser(newContactForm)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="column margin-bottom-10">
                                <label for="new-contact-surname">
                                    Фамилия
                                    <span class="form-error" *ngIf="surname.invalid && surname.dirty">Вы не указали фамилию абонента</span>
                                </label>
                                <input type="text"
                                       name="surname"
                                       id="new-contact-surname"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите фамилию"
                                       [(ngModel)]="contacts.new().surname"
                                       [ngClass]="{'red': surname.dirty && surname.invalid}"
                                       #surname="ngModel"
                                       required>
                            </div>

                            <div class="column margin-bottom-10">
                                <label for="new-contact-name">
                                    Имя
                                    <span class="form-error" *ngIf="name.invalid && name.dirty">Вы не указали имя абонента</span>
                                </label>
                                <input type="text"
                                       name="name"
                                       id="new-contact-name"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите имя"
                                       [(ngModel)]="contacts.new().name"
                                       [ngClass]="{'red': name.dirty && name.invalid}"
                                       #name="ngModel"
                                       required>
                            </div>

                            <div class="column margin-bottom-10">
                                <label for="new-contact-fname">
                                    Отчество
                                    <span class="form-error" *ngIf="fname.invalid && fname.dirty">Вы не указали отчество абонента</span>
                                </label>
                                <input type="text"
                                       name="fname"
                                       id="new-contact-fname"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите отчество"
                                       [(ngModel)]="contacts.new().fname"
                                       [ngClass]="{'red': fname.dirty && fname.invalid}"
                                       #fname="ngModel"
                                       required>
                            </div>

                            <div class="column margin-bottom-10">
                                <label for="new-contact-position">Должность</label>
                                <input type="text"
                                       name="position"
                                       id="new-contact-position"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите должность"
                                       [(ngModel)]="contacts.new().position">
                            </div>

                            <div class="column margin-bottom-10">
                                <label for="new-contact-email">E-mail</label>
                                <input type="text"
                                       name="email"
                                       id="new-contact-email"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите e-mail"
                                       [(ngModel)]="contacts.new().email">
                            </div>

                            <div class="column">
                                <label for="new-contact-mobile">Мобильный телефон</label>
                                <input type="text"
                                       name="mobile"
                                       id="new-contact-mobile"
                                       class="inp medium outline blue width-100"
                                       placeholder="Введите мобильный телефон"
                                       [(ngModel)]="contacts.new().mobile">
                            </div>
                        </div>
                    </tab>
                    <tab [id]="'contact-location'" [caption]="'местоположение'" [icon]="'fa fa-map-marker'" [width]="50">
                        <div class="column padding-20">
                            <div class="column margin-bottom-10">
                                <label for="new-contact-office">Офис</label>
                                <select id="new-contact-office"
                                        name="office"
                                        class="inp medium outline blue width-100"
                                        [(ngModel)]="contacts.new().officeId"
                                        required>
                                    <option *ngFor="let office of phoneBook.offices | officesByOrganization: organizations.selected() ? organizations.selected().id : 0"
                                            [ngValue]="office.id">
                                        {{ office.address }}
                                    </option>
                                </select>
                            </div>
                            <div class="column margin-bottom-10">
                                <label for="new-contact-room">Кабинет</label>
                                <input type="text"
                                       class="inp medium outline blue"
                                       name="room"
                                       id="new-contact-room"
                                       [(ngModel)]="contacts.new().room">
                            </div>
                            <div class="column">
                                <label for="new-contact-order">Порядок следования внутри структурного подразделения</label>
                                <input type="text"
                                       class="inp medium outline blue"
                                       name="order"
                                       id="new-contact-order"
                                       [(ngModel)]="contacts.new().order">
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>
            <div class="row padding-left-20 padding-right-20 padding-top-10 padding-bottom-10 form-footer">
                <button type="submit"
                        class="btn medium green width-50 margin-right-5"
                        [disabled]="!newContactForm.dirty || newContactForm.invalid"
                        (click)="addContact()">
                    <div *ngIf="contacts.isAdding">
                        <i class="fa fa-spinner fa-spin margin-right-10"></i>
                        Загрузка
                    </div>
                    <div *ngIf="!contacts.isAdding">
                        <i class="fa fa-check margin-right-10"></i>
                        Добавить абонента
                    </div>
                </button>
                <button type="submit"
                        class="btn medium red width-50 margin-left-5"
                        (click)="modals.get('new-contact-modal').close()">
                    <i class="fa fa-ban margin-right-10"></i>
                    Отмена
                </button>
            </div>
        </form>
    </div>
</modal>