#app-contacts {
  box-sizing: border-box;
}
#app-contacts #app-favorites-caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semi Bold';
  text-transform: uppercase;
  font-size: 17px;
  color: #B0BEC5;
}
#app-contacts #app-favorites-caption .fa {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  font-size: 25px;
  line-height: 40px;
  color: #FFC107;
  text-align: center;
  background: #E7E7E8;
  border-radius: 50%;
}
#new-contact-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
  background: #D32F2F;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#new-contact-button:hover {
  background: #B71C1C;
}
.form-footer {
  background: #F5F5F5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
