<stub *ngIf="contacts.searchQuery === '' && !contacts.isLoading && !contacts.isSearching && !divisions.selected() && contacts.total() === 0"
      [icon]="'fa-building'"
      [text]="'Выберите структурное подразделение'">
</stub>


<stub *ngIf="contacts.isSearching || contacts.isLoading"
      [icon]="'fa-spinner fa-spin'"
      [text]="'Загрузка...'">
</stub>


<stub *ngIf="contacts.searchQuery !== '' && !contacts.isSearching && !contacts.isLoading && contacts.total() === 0"
      [icon]="'fa-search'"
      [text]="'По Вашему запросу абоненты не найдены'">
</stub>


<div id="app-contacts">
    <!--<div id="app-favorites-list-caption" *ngIf="phoneBook.isInFavoritesMode === true"><i class="fa fa-star"></i>Ваши избранные контакты</div>-->
    <contact-group [group]="group"
                   [margin]="margin"
                   [row]="row"
                   *ngFor="let group of contacts.contacts | async">
    </contact-group>
</div>